<div class="section-pdp-defaul-table">
  <div class="pdp-defaul-table">
    <div class="pdp-defaul-table__content">
      <h3>PRODUCT DETAILS</h3>
      <div class="dettails">
        <span class="detail">Black</span>
        <span class="detail">Black</span>
        <span class="detail">Black</span>
        <span class="detail">Black</span>
        <span class="detail">Black</span>
        <span class="detail">Black</span>
        <span class="detail">Black</span>
        <span class="detail">Black</span>
      </div>
    </div>
  </div>
</div>


{% style %}
.pdp-defaul-table {
    max-width: 1620px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 30px;
}
.pdp-defaul-table__content {
    max-width: 1140px;
    margin: 0 auto;
}

{% endstyle %}