<div class="u-container">
    <div class="c-product-details__content">
        <div class="product-reviews">
            <div class="page-width">
                {% comment %} <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div> {% endcomment %}
        
                <div id="mag-product-review" data-product="{{ product.id }}" data-product-handle="{{ product.handle }}"></div>
        
            </div>
        </div>
    </div>
</div>

{% style %}
#epr-product-title-review span {
    cursor: pointer;
    display: flex;
}
.el-page-count {
    font-size: 14px;
}
#epr-product-reviews .el-pagination span#paginate-list-text, #epr-product-reviews .el-pagination span#paginate-grid-text {
    font-size: 14px;
}
.mag-all-reviews .relative-inner-all-review.active, #epr-product-reviews .relative-inner.active {
    color: #000;
}
.epr-review-list-main-wrapper .epr-review-data-wrapper .epr-review-body {
    font-size: 12px;
}
.epr-form-content-wrapp button#submit-btn-text {
    background: #000;
    border-radius: 20px;
}
a#mag-cancel-btn-text {
    border-radius: 20px;
}
.epr-review-form .form-group .form-label {
    font-size: 14px;
}
.mag-logo-image {
    display: none !important;
    visibility: hidden;
}
.product-reviews {
    margin: 40px 0;
    border: 1px solid #000;
    border-radius: 30px;
    letter-spacing: normal;
}
@media only screen and (min-width: 1200px) {
    .product-reviews {
        margin: 80px 0;
    }   
}
.spr-container {
    padding: 24px;
    border-color: transparent;
}
h2.spr-header-title {
    font-weight: 600;
    font-size: 36px;
}
a.spr-summary-actions-newreview {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}
.spr-review-reportreview {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}
input.spr-form-input,
textarea.spr-form-input {
    border: 1px solid;
    min-height: 20px;
    border-radius: 10px;
    padding: 10px;
}
input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary {
    border-color: #000;
    line-height: 0;
}
{% endstyle %}