<div class="u-container">
    <div class="c-product-details__content">
        <div class="product-reviews">
            <div class="page-width">
                {% comment %} <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div> {% endcomment %}
        
                <div id="mag-product-review" data-product="{{ product.id }}" data-product-handle="{{ product.handle }}"></div>
        
            </div>
        </div>
    </div>
</div>

{% style %}
.epr-collaps-btn.btn.button {
    border-radius: 30px;
}
.mag-select-menu {
    margin-bottom: -30px !important;
}
div#mag-product-review .epr-review .epr-data .epr-review-here {
    border-left: none;
    border-right: none;
}
.erp-review-img-main,
.epr-review-footer {
    display: none !important;
}
.mag-review-star .progress-striped .progress-bar {
    background-color: #000!important;
}
div#mag-product-review .epr-review .epr-data {
    box-shadow: none;
}
.epr-collaps-btn.btn.button {
    max-width: 230px;
    font-weight: 600 !important;
}
.epr-data .mag-total-review-wrap {
    flex: 0 0 20%;
}
.epr-data {
    display: flex;
    justify-content: center !important;
}
.epr-review-here {
    display: none;
}
div#epr-product-title-review span {
    color: #fff;
}
#mag-product-review .mag-select-menu .sBtn-text svg path,
.epr-review-name svg,
svg.bi.bi-star-fill.mag-ratings,
.mag-stars svg,
.mag-review-star .mag-star-icon svg,
#epr-product-title-review svg {
    stroke: #0000006b;
    fill: #000;
}
svg.bi.bi-star-fill.mag-ratings[fill="orange"],
.mag-stars svg[fill="orange"],
.mag-review-star .mag-star-icon svg[fill="orange"],
#epr-product-title-review svg[fill="orange"] {
    fill: #000;
}
.el-page-count {
    font-size: 14px;
}
#epr-product-reviews .el-pagination span#paginate-list-text, #epr-product-reviews .el-pagination span#paginate-grid-text {
    font-size: 14px;
}
.mag-all-reviews .relative-inner-all-review.active, #epr-product-reviews .relative-inner.active {
    color: #000;
}
.epr-review-list-main-wrapper .epr-review-data-wrapper .epr-review-body {
    font-size: 12px;
}
.epr-form-content-wrapp button#submit-btn-text {
    background: #000;
    border-radius: 20px;
}
a#mag-cancel-btn-text {
    border-radius: 20px;
}
.epr-review-form .form-group .form-label {
    font-size: 14px;
}
.mag-logo-image {
    display: none !important;
    visibility: hidden;
}
.epr-review-form .form-group input, .epr-review-form .form-group textarea {
    box-shadow: none;
    border: 1px solid #000;
    font-size: 16px;
}
.product-reviews {
    font-family: "Gotham";
}
.product-reviews h2,
.product-reviews p,
.product-reviews span,
.product-reviews a {
    font-family: "Gotham";
    letter-spacing: normal;
}
.product-reviews h2 {
    font-weight: 500;
}
input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary {
    background: #000;
    border-radius: 20px;
    min-width: 260px;
    font-family: Gotham;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
}
a.spr-summary-actions-newreview {
    font-weight: 500;
}
{% endstyle %}