
<div class="u-container">
    <div class="u-content wider">
      <div class="c-board-tech-dropdowns">
        <div class="o-text is-2">board technology</div>
        <hr class="c-board-tech-dropdowns__line"/>
        <div class="c-board-tech-dropdowns__list">
          <div class="c-dropdown js-board-tech-dropdown">
            <button class="c-dropdown__btn js-board-tech-dropdown-btn"><span class="o-text is-3">wood core composition</span>
              <svg viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 1L10.5 10L1 1" stroke="black" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </button>
            <div class="c-dropdown__wrapper js-board-tech-dropdown-wrapper">
              <div class="c-dropdown__container">
                <div class="c-dropdown__content">
                  <div class="c-d-component c-dropdown-num-grid-image">
                    <div class="c-dropdown-num-grid-image__item">
                      <div class="c-dropdown-num-grid-image__item-wrap"><span class="c-dropdown-num-grid-image__mob-name o-text is-4">power drive base</span><span class="c-dropdown-num-grid-image__num o-text is-3">1</span><img class="c-dropdown-num-grid-image__image" src="power-drive.png" alt="alt"/>
                        <div class="c-dropdown-num-grid-image__content"><span class="c-dropdown-num-grid-image__name o-text is-4 is-italic"><span>1 -&nbsp;</span>power drive base</span>
                          <ul class="c-dropdown-num-grid-image__colored-list">
                            <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">PAULOWNIA</li>
                            <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">POPLAR</li>
                            <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">PET</li>
                          </ul>
                          <ul class="c-dropdown-num-grid-image__list">
                            <li class="o-text is-4 is-regular is-italic">mega split</li>
                            <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                            <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                          </ul>
                        </div>
                      </div><span class="o-text is-4 is-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum vero.</span>
                    </div>
                    <div class="c-dropdown-num-grid-image__item">
                      <div class="c-dropdown-num-grid-image__item-wrap"><span class="c-dropdown-num-grid-image__mob-name o-text is-4">power drive base</span><span class="c-dropdown-num-grid-image__num o-text is-3">1</span><img class="c-dropdown-num-grid-image__image" src="power-drive.png" alt="alt"/>
                        <div class="c-dropdown-num-grid-image__content"><span class="c-dropdown-num-grid-image__name o-text is-4 is-italic"><span>1 -&nbsp;</span>new age progressive</span>
                          <ul class="c-dropdown-num-grid-image__colored-list">
                            <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">PAULOWNIA</li>
                            <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">POPLAR</li>
                            <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">PET</li>
                          </ul>
                          <ul class="c-dropdown-num-grid-image__list">
                            <li class="o-text is-4 is-regular is-italic">mega split</li>
                            <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                            <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                          </ul>
                        </div>
                      </div><span class="o-text is-4 is-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum vero.</span>
                    </div>
                    <div class="c-dropdown-num-grid-image__item">
                      <div class="c-dropdown-num-grid-image__item-wrap"><span class="c-dropdown-num-grid-image__mob-name o-text is-4">power drive base</span><span class="c-dropdown-num-grid-image__num o-text is-3">1</span><img class="c-dropdown-num-grid-image__image" src="power-drive.png" alt="alt"/>
                        <div class="c-dropdown-num-grid-image__content"><span class="c-dropdown-num-grid-image__name o-text is-4 is-italic"><span>1 -&nbsp;</span>new age progressive</span>
                          <ul class="c-dropdown-num-grid-image__colored-list">
                            <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">PAULOWNIA</li>
                            <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">POPLAR</li>
                            <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">PET</li>
                          </ul>
                          <ul class="c-dropdown-num-grid-image__list">
                            <li class="o-text is-4 is-regular is-italic">mega split</li>
                            <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                            <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                          </ul>
                        </div>
                      </div><span class="o-text is-4 is-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum vero.</span>
                    </div>
                  </div>
                  <div class="c-d-component c-dropdown-camber">
                    <div class="c-dropdown-camber__item">
                      <div class="c-dropdown-camber__top"><span class="c-dropdown-camber__title o-text is-4 is-italic">resort resort v1 profile</span>
                        <ul class="c-d-component c-dropdown-camber__colored-list">
                          <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">PAULOWNIA</li>
                          <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">POPLAR</li>
                          <li class="c-dropdown-num-grid-image__colored-item o-text is-4 is-regular" style="--color: red">PET</li>
                        </ul>
                        <ul class="c-d-component c-dropdown-camber__list">
                          <li class="o-text is-4 is-regular is-italic">mega split</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                        </ul>
                      </div><span class="o-text is-4 is-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem vero alias in sapiente, at nemo praesentium architecto commodi distinctio nisi quaerat quos repellendus eveniet. Mollitia laudantium id illo dignissimos repellat!</span><img src="camber.png" alt="alt"/>
                    </div>
                    <div class="c-dropdown-camber__item">
                      <div class="c-dropdown-camber__top"><span class="c-dropdown-camber__title o-text is-4 is-italic">resort v1 profile</span>
                        <ul class="c-d-component c-dropdown-camber__list">
                          <li class="o-text is-4 is-regular is-italic">mega split</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                          <li class="o-text is-4 is-regular is-italic">THE BLACK SNOWBOARD OF DEATH</li>
                          <li class="o-text is-4 is-regular is-italic">mercury</li>
                        </ul>
                      </div><span class="o-text is-4 is-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem vero alias in sapiente, at nemo praesentium architecto commodi distinctio nisi quaerat quos repellendus eveniet. Mollitia laudantium id illo dignissimos repellat!</span><img src="camber.png" alt="alt"/>
                    </div>
                    <div class="c-dropdown-camber__item">
                      <div class="c-dropdown-camber__top"><span class="c-dropdown-camber__title o-text is-4 is-italic">resort v1 profile</span>
                        <ul class="c-d-component c-dropdown-camber__list">
                          <li class="o-text is-4 is-regular is-italic">mega split</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                          <li class="o-text is-4 is-regular is-italic">THE BLACK SNOWBOARD OF DEATH</li>
                          <li class="o-text is-4 is-regular is-italic">mercury</li>
                        </ul>
                      </div><span class="o-text is-4 is-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem vero alias in sapiente, at nemo praesentium architecto commodi distinctio nisi quaerat quos repellendus eveniet. Mollitia laudantium id illo dignissimos repellat!</span><img src="camber.png" alt="alt"/>
                    </div>
                    <div class="c-dropdown-camber__item">
                      <div class="c-dropdown-camber__top"><span class="c-dropdown-camber__title o-text is-4 is-italic">resort v1 profile</span>
                        <ul class="c-d-component c-dropdown-camber__list">
                          <li class="o-text is-4 is-regular is-italic">mega split</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                          <li class="o-text is-4 is-regular is-italic">THE BLACK SNOWBOARD OF DEATH</li>
                          <li class="o-text is-4 is-regular is-italic">mercury</li>
                        </ul>
                      </div><span class="o-text is-4 is-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem vero alias in sapiente, at nemo praesentium architecto commodi distinctio nisi quaerat quos repellendus eveniet. Mollitia laudantium id illo dignissimos repellat!</span><img src="camber.png" alt="alt"/>
                    </div>
                  </div>
                  <div class="c-d-component c-dropdown-image-text"><img src="capita-board-tech.png" alt="alt"/><span class="o-text is-4 is-regular">A snowboard’s wood core is the heart and soul of the riding experience.<br/><br/>This essential element determines the key character traits of a snowboard and functions as the primary building block for everything else that goes into a board. Every CAPiTA deck starts off with a specialized wood core allowing for uniform flex, greater turning control, and incredibly fast response. Different species of wood, along with custom core profiles, help give each deck a unique feel and targeted flex. We have engineered a series of wood core compositions, each with distinctive characteristics, to ensure that we have your ideal snowboard.</span></div>
                  <div class="c-d-component c-dropdown-num-grid">
                    <div class="c-dropdown-num-grid__item"><span class="c-dropdown-num-grid__num o-text is-3">1</span>
                      <div class="c-dropdown-num-grid__content"><span class="c-dropdown-num-grid__name o-text is-4 is-italic"><span>1 -&nbsp;</span>new age progressive</span><span class="o-text is-4 is-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum vero.</span>
                        <ul class="c-dropdown-num-grid__list">
                          <li class="o-text is-4 is-regular is-italic">mega split</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                          <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                          <li class="o-text is-4 is-regular is-italic">THE BLACK SNOWBOARD OF DEATH</li>
                          <li class="o-text is-4 is-regular is-italic">mercury</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="c-dropdown is-small js-board-tech-dropdown">
                    <button class="c-dropdown__btn js-board-tech-dropdown-btn"><span class="o-text is-4">main line</span>
                      <svg viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 1L10.5 10L1 1" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                      </svg>
                    </button>
                    <div class="c-dropdown__wrapper js-board-tech-dropdown-wrapper">
                      <div class="c-dropdown__container">
                        <div class="c-dropdown__content">
                          <div class="c-d-component c-dropdown-text"><span class="o-text is-4 is-regular">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea tempore minus praesentium, voluptatum accusamus, quas ex nemo, nihil amet necessitatibus esse cumque! Doloribus esse, nulla eum officia est a labore?</span>
                            <ul class="c-d-component c-dropdown-text__list">
                              <li class="o-text is-4 is-regular is-italic">mega split</li>
                              <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                              <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                              <li class="o-text is-4 is-regular is-italic">THE BLACK SNOWBOARD OF DEATH</li>
                              <li class="o-text is-4 is-regular is-italic">mercury</li>
                            </ul>
                          </div>
                          <div class="c-d-component c-dropdown-text-tech"><span class="c-dropdown-text-tech__num o-text is-3">1</span><span class="c-dropdown-text-tech__mob-title o-text is-4 is-italic">1 - Plt topsheeet technology</span><span class="c-dropdown-text-tech__text o-text is-4 is-regular">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea tempore minus praesentium, voluptatum accusamus, quas ex nemo, nihil amet necessitatibus esse cumque! Doloribus esse, nulla eum officia est a labore?</span>
                            <div class="c-dropdown-text-tech__features"><span class="c-dropdown-text-tech__desk-title o-text is-4 is-italic">Plt topsheeet technology</span><span class="o-text is-4 is-regular is-italic">All 2024 boards utilizes except:</span>
                              <ul class="c-d-component c-dropdown-text-tech__list">
                                <li class="o-text is-4 is-regular is-italic">mega split</li>
                                <li class="o-text is-4 is-regular is-italic">MEGA DEATH</li>
                                <li class="o-text is-4 is-regular is-italic">MEGA MERC</li>
                                <li class="o-text is-4 is-regular is-italic">THE BLACK SNOWBOARD OF DEATH</li>
                                <li class="o-text is-4 is-regular is-italic">mercury</li>
                              </ul>
                            </div>
                          </div>
                          <div class="c-d-component c-dropdown-image-text-2"><span class="o-text is-4 is-regular">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea tempore minus praesentium, voluptatum accusamus, quas ex nemo, nihil amet necessitatibus esse cumque! Doloribus esse, nulla eum officia est a labore?</span><img src="board-tech-grades.png" alt="alt"/></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  
{% schema %}
  {
    "name": "Board Tech",
    "class": "page-board-tech",
    "presets": [
        { 
            "name": "Board Tech"
        }
    ]
  }
{% endschema %}




{% style %}
.page-board-tech {
    padding: 180px 0;
    background: #eec900;
}

{% endstyle %}