<div class="section-contact-form">

  {% form 'contact' %}

  {{ form.errors | default_errors }}

  <input type="hidden" name="contact[object]" value="CAPiTA Customer Service" />

  <div class="form-item half">
    <input type="text" name="contact[first_name]" id="first-name" placeholder="Enter name" />
  </div>

  <div class="form-item half">
    <input type="email" name="contact[email]" id="email" placeholder="Enter email" />
  </div>

  <div class="form-item half">
    <input type="tel" name="contact[phone]" id="phone" placeholder="Phone number" />
  </div>

  <div class="form-item half">
    <input type="country" name="contact[country]" id="country" placeholder="Country" />
  </div>

  <div class="form-item">
    <textarea name="contact[body]" id="message" placeholder="Enter message" rows="10"></textarea>
  </div>

  <label class="form-item__legal">
    <input type="checkbox" name="contact[privacy]">
    <span>CAPiTA Privacy Policy and I consent to the processing of my personal data for marketing and profiling
      purposes.</span>
  </label>

  <div class="form-item--submit">
    <input class="o-btn is-black" type="submit" value="Send" />
  </div>

  {% endform %}

</div>

{% schema %}
{
"name": "Contact form",
"tag": "section",
"class": "shopify-section--contact-form three-quarter",
"presets": [
{
"name": "Contact form"
}
]
}
{% endschema %}

{% stylesheet %}

.section-contact-form .form-item input,
.section-contact-form .form-item textarea {
width: 100%;
padding: 15px 20px;
border: 1px solid #000;
border-radius: 10px;
color: #000;
font-weight: 500;
}
.section-contact-form .row .form-item:first-child {
padding-right: 20px;
}
.section-contact-form .row .form-item:last-child {
padding-left: 20px;
}
.section-contact-form .form-item input::placeholder,
.section-contact-form .form-item textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #000;
opacity: 1; /* Firefox */
}
.section-contact-form .form-item input:-ms-input-placeholder,
.section-contact-form .form-item textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #000;
}
.section-contact-form .form-item input::-ms-input-placeholder,
.section-contact-form .form-item textarea::-ms-input-placeholder { /* Microsoft Edge */
color: #000;
}
.section-contact-form input.btn.btn-primary.black {
max-width: 200px;
float: right;
font-size: 16px;
padding: 10px 20px;
min-width: 190px;
height: 44px;
cursor: pointer;
}
.section-contact-form .form-item__legal span {
line-height: 1;
font-size: 14px;
}
.section-contact-form .row.row-form-foot {
justify-content: space-between;
}

.contact-form {
display:grid;
grid-gap:12px;
}

.contact-form > * {
width:100%;
}

@media screen and (min-width: 1024px) {
.contact-form {
grid-template-columns: repeat(2, 1fr);
}

.contact-form > *:not(.half) {
grid-column-end: span 2;
}
}

.contact-form .o-btn {
  height: 47px;
  padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    font-smooth: auto;
    @media screen and (max-width: 991px) {
        font-size: 14px;
    }
}
{% endstylesheet %}