<div id='storemapper' style='width:100%;'>
    <p>Store Locator is loading from <a href='https://www.storemapper.co'>Storemapper store locator app</a>...</p>
  </div>
  <script data-storemapper-start='2016,05,25'
          data-storemapper-id='3057'>
          (function() {var script = document.createElement('script');
            script.type  = 'text/javascript';script.async = true;
            script.src = 'https://www.storemapper.co/js/widget.js';
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);}
          ());
  </script>
  
                    

{% schema %}
  {
    "name": "Dealers",
    "tag": "section",
    "class": "shopify-section--dealers one-quarter",
    "presets": [
        {
            "name": "Dealers"
        }
    ]
  }
{% endschema %}