<div id='storemapper' style='width:100%;'>
    <p>Store Locator is loading from <a href='https://www.storemapper.co'>Storemapper store locator app</a>...</p>
  </div>
  <script data-storemapper-start='2016,05,25'
          data-storemapper-id='3057'>
          (function() {var script = document.createElement('script');
            script.type  = 'text/javascript';script.async = true;
            script.src = 'https://www.storemapper.co/js/widget.js';
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);}
          ());
  </script>
  
                    

{% schema %}
  {
    "name": "Dealers",
    "tag": "section",
    "class": "shopify-section--dealers three-quarter",
    "presets": [
        {
            "name": "Dealers"
        }
    ]
  }
{% endschema %}

{% style %}

#storemapper-right {
    margin-bottom: 30px;
    border-radius: 35px;
    border: 1px solid #000;
}
.storemapper-form-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}
#storemapper label {
    width: 100%;
}
#storemapper input#storemapper-zip {
    margin-right: 50px !important;
    border: 1px solid #000 !important;
    border-radius: 10px !important;
    width: 70%;
}
#storemapper button#storemapper-go {
    text-transform: uppercase;
    font-weight: 500;
    width: 25%;
    background: #000;
    color: #fff;
    margin-top: 0;
    border-radius: 10px;
    border-color: #000;
}
#storemapper button#storemapper-go:hover {
    background: #fff;
    color: #000;
    border-color: #000;
}
ul#storemapper-list {
    border-top: 1px solid #000;
    padding-top: 30px !important;
}
/* width */
div#storemapper #storemapper-left::-webkit-scrollbar {
  width: 10px;
}
/* Track */
div#storemapper #storemapper-left::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
div#storemapper #storemapper-left::-webkit-scrollbar-thumb {
  background: #000; 
}
/* Handle on hover */
div#storemapper #storemapper-left::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#storemapper input#storemapper-zip::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}
#storemapper input#storemapper-zip:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}
#storemapper input#storemapper-zip::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}
{% endstyle %}