<div style="background-color: #dfdfdf; padding: 140px 0;">

    <div class="box-width">

        <div class="row">

            <div class="col-4">

                Primary:<br/>
                <a class="btn btn-primary" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary short:<br/>
                <a class="btn btn-primary short" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary flat:<br/>
                <a class="btn btn-primary flat" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary flat short:<br/>
                <a class="btn btn-primary flat short" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary disabled:<br/>
                <a class="btn btn-primary disabled" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary focus:<br/>
                <a class="btn btn-primary focus" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary pressed:<br/>
                <a class="btn btn-primary pressed" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary black:<br/>
                <a class="btn btn-primary black" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary black disabled:<br/>
                <a class="btn btn-primary black disabled" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary black focus:<br/>
                <a class="btn btn-primary black focus" href="">DISCOVER NOW</a>

                <br/><br/>

                Primary black pressed:<br/>
                <a class="btn btn-primary black pressed" href="">DISCOVER NOW</a>

            </div>

            <div class="col-4">

                Secondary:<br/>
                <a class="btn btn-secondary" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary short:<br/>
                <a class="btn btn-secondary short" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary flat:<br/>
                <a class="btn btn-secondary flat" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary flat short:<br/>
                <a class="btn btn-secondary flat short" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary disabled:<br/>
                <a class="btn btn-secondary disabled" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary focus:<br/>
                <a class="btn btn-secondary focus" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary pressed:<br/>
                <a class="btn btn-secondary pressed" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary black:<br/>
                <a class="btn btn-secondary black" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary black disabled:<br/>
                <a class="btn btn-secondary black disabled" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary black focus:<br/>
                <a class="btn btn-secondary black focus" href="">DISCOVER NOW</a>

                <br/><br/>

                Secondary black pressed:<br/>
                <a class="btn btn-secondary black pressed" href="">DISCOVER NOW</a>

            </div>

            <div class="col-4">

                Secondary with Icon:<br/>
                <a class="btn btn-secondary" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon short:<br/>
                <a class="btn btn-secondary short" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon flat:<br/>
                <a class="btn btn-secondary flat" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon flat short:<br/>
                <a class="btn btn-secondary flat short" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon disabled:<br/>
                <a class="btn btn-secondary disabled" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon focus:<br/>
                <a class="btn btn-secondary focus" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon pressed:<br/>
                <a class="btn btn-secondary pressed" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon black:<br/>
                <a class="btn btn-secondary black" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon black disabled:<br/>
                <a class="btn btn-secondary black disabled" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon black focus:<br/>
                <a class="btn btn-secondary black focus" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

                <br/><br/>

                Secondary with Icon black pressed:<br/>
                <a class="btn btn-secondary black pressed" href="">DISCOVER NOW {% render 'icon-arrow-capita' %}</a>

            </div>

        </div>

    </div>
</div>
{% schema %}
  {
    "name": "Defaults",
    "presets": [
        {
            "name": "Defaults"
        }
    ]
  }
{% endschema %}