<div class="container distributors">

  <div class="distributors-container warranty-na-canada">
    <h2>NORTH AMERICA</h2>
    <hr>
    <div class="distributors__wrapper">
      <div class="distributors__card">
        <h3>USA + CANADA</h3>
        <h4>C3 Worldwide</h4>
        <address class="distributors__address">
          <h5>
            4917 14th Ave NW<br>
            Seattle, WA 98107
          </h5>
          <a class="fax" href="fax:+1 206 932 0543" title="Fax: +1 206 932 0543">+1 206 932 0543</a
          ><a class="email" href="mailto:info@capitasnowboarding.com" title="Email: info@capitasnowboarding.com"
            >info@capitasnowboarding.com</a
          ><a class="warranty" href="mailto:warranty@c3ww.com" title="Email for warranty info: warranty@c3ww.com"
            >warranty@c3ww.com</a
          ><a class="site" href="http://www.c3-shop.com" title="http://www.c3-shop.com">http://www.c3-shop.com</a>
        </address>
      </div>
    </div>
  </div>

  <div class="distributors-container warranty-australia-asia">
    <h2>AUSTRALIA & ASIA</h2>
    <hr>
    <div class="distributors__wrapper">
      <div class="distributors__card">
        <h3>AUSTRALIA + NEW ZEALAND</h3>
        <h4>Principle Distribution</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+613 5261 6400" title="Call: +613 5261 6400">+613 5261 6400</a
          ><a class="fax" href="fax:+613 5261 6444" title="Fax: +613 5261 6444">+613 5261 6444</a
          ><a
            class="email"
            href="mailto:warranty@principledistribution.com.au"
            title="Email: warranty@principledistribution.com.au"
            >warranty@principledistribution.com.au</a
          ><a class="site" href="http://www.principledistribution.com.au" title="http://www.principledistribution.com.au"
            >http://www.principledistribution.com.au</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>CHINA</h3>
        <h4>Beijing Gdrsport Trading Ltd</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+86 10 6354 9883" title="Call: +86 10 6354 9883">+86 10 6354 9883</a
          ><a class="fax" href="fax:+86 10 6354 9883" title="Fax: +86 10 6354 9883">+86 10 6354 9883</a
          ><a class="email" href="mailto:steve@mellow.at" title="Email: steve@mellow.at">steve@mellow.at</a>
        </address>
      </div>
      <div class="distributors__card">
        <h3>JAPAN</h3>
        <h4>Custom Produce Inc.</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+81 4 7183 2380" title="Call: +81 4 7183 2380">+81 4 7183 2380</a
          ><a class="fax" href="fax:+81 4 7183 2467" title="Fax: +81 4 7183 2467">+81 4 7183 2467</a
          ><a class="email" href="mailto:home@customproduce.com" title="Email: home@customproduce.com"
            >home@customproduce.com</a
          ><a class="site" href="http://www.customproduce.com" title="http://www.customproduce.com"
            >http://www.customproduce.com</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>KOREA</h3>
        <h4>GMP Company</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+82 2 557 6580" title="Call: +82 2 557 6580">+82 2 557 6580</a
          ><a class="fax" href="fax:+82 70 8610 6583" title="Fax: +82 70 8610 6583">+82 70 8610 6583</a
          ><a class="email" href="mailto:info@gmpcompany.co.kr" title="Email: info@gmpcompany.co.kr"
            >info@gmpcompany.co.kr</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>SINGAPORE</h3>
        <h4>The Ride Side</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+65 92985669" title="Call: +65 92985669">+65 92985669</a
          ><a class="email" href="mailto:gear@therideside.com" title="Email: gear@therideside.com">gear@therideside.com</a
          ><a class="site" href="https://gear.therideside.com" title="https://gear.therideside.com"
            >https://gear.therideside.com</a
          >
        </address>
      </div>
    </div>
  </div>

  <div class="distributors-container warranty-europe-me">
    <h2><span class="warranty-title-europe">EUROPE & </span>MIDDLE EAST</h2>
    <hr>
    <div class="distributors__wrapper">
      <div class="distributors__card">
        <h3>AUSTRIA + GERMANY</h3>
        <h4>Deeluxe Sportartikel Handels GMBH</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+43 5332 930 81" title="Call: +43 5332 930 81">+43 5332 930 81</a
          ><a class="fax" href="fax:+43 5332 930 200" title="Fax: +43 5332 930 200">+43 5332 930 200</a
          ><a class="email" href="mailto:info@deeluxe.com" title="Email: info@deeluxe.com">info@deeluxe.com</a
          ><a class="site" href="http://www.deeluxe-sportartikel.com" title="http://www.deeluxe-sportartikel.com"
            >http://www.deeluxe-sportartikel.com</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>BELGIUM + NETHERLANDS</h3>
        <h4>Blue Bird Co.</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+31 6 27995853" title="Call: +31 6 27995853">+31 6 27995853</a
          ><a class="email" href="mailto:mitchel@bluebirdcompany.nl" title="Email: mitchel@bluebirdcompany.nl">mitchel@bluebirdcompany.nl</a
          ><a class="site" href="https://bluebirdcompany.nl/" title="https://bluebirdcompany.nl/">https://bluebirdcompany.nl/</a>
        </address>
      </div>
      <div class="distributors__card">
        <h3>BULGARIA</h3>
        <h4>Boardacademy</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+359 884 94 80 57" title="Call: +359 884 94 80 57">+359 884 94 80 57</a
          ><a class="email" href="mailto:snowacademy_bg@yahoo.com" title="Email: snowacademy_bg@yahoo.com"
            >snowacademy_bg@yahoo.com</a
          ><a class="site" href="http://www.boardacademy.bg" title="http://www.boardacademy.bg"
            >http://www.boardacademy.bg</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>CZECH REPUBLIC</h3>
        <h4>Destiny Distribution s.r.o.</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+420 734 445 391" title="Call: +420 734 445 391">+420 734 445 391</a
          ><a class="fax" href="fax:+32 3491 1041" title="Fax: +32 3491 1041">+32 3491 1041</a
          ><a class="email" href="mailto:lukas@destinydistribution.cz" title="Email: lukas@destinydistribution.cz"
            >lukas@destinydistribution.cz</a
          ><a class="site" href="http://destinydistribution.cz" title="http://destinydistribution.cz"
            >http://destinydistribution.cz</a
          >
        </address>
      </div>
      <div class="distributors__card show-warranty-others">
        <h3>DUBAI + UAE</h3>
        <h4>MAF Leisure and Entertainment LLC</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+971 4094171" title="Call: +971 4094171">+971 4094171</a
          ><a class="fax" href="fax:+971 56 4101621" title="Fax: +971 56 4101621">+971 56 4101621</a
          ><a class="email" href="mailto:eric.floirendo@maf.co.ae" title="Email: eric.floirendo@maf.co.ae"
            >eric.floirendo@maf.co.ae</a
          ><a class="site" href="https://skidxb.com" title="https://skidxb.com">https://skidxb.com</a>
        </address>
      </div>
      <div class="distributors__card">
        <h3>ESTONIA + LATVIA</h3>
        <h4>Surfar OÜ</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+372 631 3095" title="Call: +372 631 3095">+372 631 3095</a
          ><a class="email" href="mailto:info@surfhouse.ee" title="Email: info@surfhouse.ee">info@surfhouse.ee</a
          ><a class="site" href="http://www.surfhouse.ee" title="http://www.surfhouse.ee">http://www.surfhouse.ee</a>
        </address>
      </div>
      <div class="distributors__card">
        <h3>FINLAND</h3>
        <h4>Whatnot Agency</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+358 405 303 157" title="Call: +358 405 303 157">+358 405 303 157</a
          ><a class="email" href="mailto:seba@whatnotagency.fi" title="Email: seba@whatnotagency.fi"
            >seba@whatnotagency.fi</a
          ><a class="site" href="http://www.whatnotagency.fi" title="http://www.whatnotagency.fi"
            >http://www.whatnotagency.fi</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>FRANCE</h3>
        <h4>V7 Distribution</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+33 1 56 73 97 77" title="Call: +33 1 56 73 97 77">+33 1 56 73 97 77</a
          ><a class="fax" href="fax:+33 1 45 69 10 88" title="Fax: +33 1 45 69 10 88">+33 1 45 69 10 88</a
          ><a class="email" href="mailto:v7@v7distribution.com" title="Email: v7@v7distribution.com"
            >v7@v7distribution.com</a
          ><a class="site" href="http://v7distribution.com" title="http://v7distribution.com"
            >http://v7distribution.com</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>GREECE</h3>
        <h4>21-Distribution</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+30 210 8013 594" title="Call: +30 210 8013 594">+30 210 8013 594</a
          ><a class="email" href="mailto:info@21st0re.com" title="Email: info@21st0re.com">info@21st0re.com</a
          ><a class="email" href="mailto:sales@21-distribution.com" title="Email: sales@21-distribution.com" title="Wholesale" >sales@21-distribution.com</a                                                                                                             
          ><a class="site" href="https://www.21-distribution.com" title="https://www.21-distribution.com"
            >https://www.21-distribution.com</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>HUNGARY</h3>
        <h4>Tandt Sport KFT</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+36 309967882" title="Call: +36 309967882">+36 309967882</a
          ><a class="email" href="mailto:lazsadi.laszlo@tandtsport.hu" title="Email: lazsadi.laszlo@tandtsport.hu"
            >lazsadi.laszlo@tandtsport.hu</a
          ><a class="site" href="http://www.tandtsport.hu" title="http://www.tandtsport.hu">http://www.tandtsport.hu</a>
        </address>
      </div>
      <div class="distributors__card">
        <h3>ICELAND</h3>
        <h4>Pukinn</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+354 426 1002" title="Call: +354 426 1002">+354 426 1002</a
          ><a class="email" href="mailto:pukinn@pukinn.com" title="Email: pukinn@pukinn.com">pukinn@pukinn.com</a
          ><a class="site" href="https://pukinn.com/" title="https://pukinn.com/">https://pukinn.com/</a>
        </address>
      </div>
      <div class="distributors__card show-warranty-others">
        <h3>ISRAEL</h3>
        <h4>Offpiste Snow Shops</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+972 77 5641497" title="Call: +972 77 5641497">+972 77 5641497</a
          ><a class="email" href="mailto:reuven.adi@gmail.com" title="Email: reuven.adi@gmail.com">reuven.adi@gmail.com</a
          ><a class="site" href="http://www.offpiste.co.il" title="http://www.offpiste.co.il"
            >http://www.offpiste.co.il</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>ITALY</h3>
        <h4>CORE srl</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+39 0342 683494" title="Call: +39 0342 683494">+39 0342 683494</a
          ><a class="email" href="mailto:info@unionbindingcompany.it" title="Email: info@unionbindingcompany.it"
            >info@unionbindingcompany.it</a
          >
        </address>
      </div>
      <div class="distributors__card show-warranty-others">
        <h3>LEBANON</h3>
        <h4>Board Inc.</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+96171562451" title="Call: +96171562451">+96171562451</a
          ><a class="fax" href="fax:+9613827797" title="Fax: +9613827797">+9613827797</a
          ><a class="email" href="mailto:info@board-inc.com" title="Email: info@board-inc.com">info@board-inc.com</a
          ><a class="site" href="http://www.board-inc.com" title="http://www.board-inc.com">http://www.board-inc.com</a>
        </address>
      </div>
      <div class="distributors__card">
        <h3>LITHUANIA</h3>
        <h4>Boardsports LTD</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+00 695 55 555" title="Call: +00 695 55 555">+00 695 55 555</a
          ><a class="email" href="mailto:antanas@boardsports.lt" title="Email: antanas@boardsports.lt"
            >antanas@boardsports.lt</a
          ><a class="site" href="http://www.boardsports.lt" title="http://www.boardsports.lt"
            >http://www.boardsports.lt</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>NORWAY</h3>
        <h4>Daggers AS</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+47 90 774 599" title="Call: +47 90 774 599">+47 90 774 599</a
          ><a class="email" href="mailto:post@daggers.no" title="Email: post@daggers.no">post@daggers.no</a
          ><a class="site" href="http://www.daggers.no" title="http://www.daggers.no">http://www.daggers.no</a>
        </address>
      </div>
      <div class="distributors__card">
        <h3>POLAND</h3>
        <h4>Skateshop.pl</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+48 601 73 61 89" title="Call: +48 601 73 61 89">+48 601 73 61 89</a
          ><a class="fax" href="fax:+48 618 501 505" title="Fax: +48 618 501 505">+48 618 501 505</a
          ><a class="email" href="mailto:piotr@skateshop.pl" title="Email: piotr@skateshop.pl">piotr@skateshop.pl</a
          ><a class="site" href="http://skateshop.pl" title="http://skateshop.pl">http://skateshop.pl</a>
        </address>
      </div>
      <div class="distributors__card">
        <h3>PORTUGAL</h3>
        <h4>White Trash Distribution</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+351 916 006 046" title="Call: +351 916 006 046">+351 916 006 046</a
          ><a class="email" href="mailto:matias@whitetrashop.com" title="Email: matias@whitetrashop.com"
            >matias@whitetrashop.com</a
          ><a class="site" href="http://www.whitetrashop.com" title="http://www.whitetrashop.com"
            >http://www.whitetrashop.com</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>ROMANIA</h3>
        <h4>SC H20 Sports International Srl</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+4 021 312 55 77" title="Call: +4 021 312 55 77">+4 021 312 55 77</a
          ><a class="fax" href="fax:+4 021 319 24 24" title="Fax: +4 021 319 24 24">+4 021 319 24 24</a
          ><a class="email" href="mailto:shop@h2o.ro" title="Email: shop@h2o.ro">shop@h2o.ro</a
          ><a class="site" href="http://www.shoph2o.ro" title="http://www.shoph2o.ro">http://www.shoph2o.ro</a>
        </address>
      </div>
      <div class="distributors__card show-warranty-others">
        <h3>RUSSIA</h3>
        <h4>Capital Distribution</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+7 (495) 662-49-80" title="Call: +7 (495) 662-49-80">+7 (495) 662-49-80</a
          ><a
            class="email"
            href="mailto:opt@capitaldist.ru"
            title="Email: opt@capitaldist.ru"
            >opt@capitaldist.ru</a
          ><a class="site" href="http://www.capitaldist.ru" title="http://www.capitaldist.ru"
            >http://www.capitaldist.ru</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>SLOVAKIA</h3>
        <h4>Board Union</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:++421 902 466706" title="Call: ++421 902 466706">++421 902 466706</a
          ><a class="fax" href="fax:++421 902 466706" title="Fax: ++421 902 466706">++421 902 466706</a
          ><a class="email" href="mailto:info@boardunion.eu" title="Email: info@boardunion.eu">info@boardunion.eu</a
          ><a class="site" href="http://www.corner-board-shop.sk" title="http://www.corner-board-shop.sk"
            >http://www.corner-board-shop.sk</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>SLOVENIA</h3>
        <h4>Obsession</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+386 1282 2028" title="Call: +386 1282 2028">+386 1282 2028</a
          ><a class="email" href="mailto:bojan@obsession.si" title="Email: bojan@obsession.si">bojan@obsession.si</a
          ><a class="site" href="https://www.obsession.si/en" title="https://www.obsession.si/en"
            >https://www.obsession.si/en</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>SPAIN + ANDORRA</h3>
        <h4>Happy Riding s.l.</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+34 918 28 4044" title="Call: +34 918 28 4044">+34 918 28 4044</a
          ><a class="email" href="mailto:info@happyriding.net" title="Email: info@happyriding.net">info@happyriding.net</a
          ><a class="site" href="http://www.happyriding.net" title="http://www.happyriding.net"
            >http://www.happyriding.net</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>SWEDEN + DENMARK</h3>
        <h4>Mob Distribution Scandinavia</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+46 911 274700" title="Call: +46 911 274700">+46 911 274700</a
          ><a class="fax" href="fax:+46 911 274727" title="Fax: +46 911 274727">+46 911 274727</a
          ><a class="email" href="mailto:info@mobdist.com" title="Email: info@mobdist.com">info@mobdist.com</a
          ><a class="site" href="http://www.mobdist.com" title="http://www.mobdist.com">http://www.mobdist.com</a>
        </address>
      </div>
      <div class="distributors__card">
        <h3>SWITZERLAND</h3>
        <h4>DAC Sport Import S.A.</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+41 (0) 21 869 02 20" title="Call: +41 (0) 21 869 02 20">+41 (0) 21 869 02 20</a
          ><a class="fax" href="fax:+41 (0) 21 869 02 22" title="Fax: +41 (0) 21 869 02 22">+41 (0) 21 869 02 22</a
          ><a class="email" href="mailto:info@dacsport.ch" title="Email: info@dacsport.ch">info@dacsport.ch</a
          ><a class="site" href="http://www.dacsport.com" title="http://www.dacsport.com">http://www.dacsport.com</a>
        </address>
      </div>
      <div class="distributors__card show-warranty-others">
        <h3>TURKEY</h3>
        <h4>Zula Heyecan Sporlari Tic. A.S.</h4>
        <address class="distributors__address">
          <h5>Sehit Ahmet Sok. No 16-18c Sisli / Istanbul</h5>
          <a class="tel" href="tel:++90-212-267-1711" title="Call: ++90-212-267-1711">++90-212-267-1711</a
          ><a class="email" href="mailto:zula@zulamatik.com" title="Email: zula@zulamatik.com">zula@zulamatik.com</a
          ><a class="site" href="https://www.zulamatik.com" title="https://www.zulamatik.com"
            >https://www.zulamatik.com</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>UKRAINE</h3>
        <h4>Boomerang Distribution</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+38 067 670 01 04" title="Call: +38 067 670 01 04">+38 067 670 01 04</a
          ><a class="email" href="mailto:bumerang_sport@yahoo.com" title="Email: bumerang_sport@yahoo.com"
            >bumerang_sport@yahoo.com</a
          ><a class="site" href="https://boomerang-boardshop.ua" title="https://boomerang-boardshop.ua"
            >https://boomerang-boardshop.ua</a
          >
        </address>
      </div>
      <div class="distributors__card">
        <h3>UNITED KINGDOM + IRELAND</h3>
        <h4>Groove Armada Ltd</h4>
        <address class="distributors__address">
          <a class="tel" href="tel:+441462 812 144" title="Call: +441462 812 144">+441462 812 144</a
          ><a class="fax" href="fax:+441462 812 144" title="Fax: +441462 812 144">+441462 812 144</a
          ><a class="email" href="mailto:info@groovearmada.net" title="Email: info@groovearmada.net"
            >info@groovearmada.net</a
          ><a class="site" href="http://www.groovearmada.net/" title="http://www.groovearmada.net/"
            >http://www.groovearmada.net/</a
          >
        </address>
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Distributors",
  "tag": "section",
  "class": "shopify-section--distributors three-quarter",
  "presets": [
    {
      "name": "Distributors"
    }
  ]
}
{% endschema %}

{% style %}
.distributors {
  font-weight: 500;
}
.distributors h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}
.distributors h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.distributors h4 {
  font-weight: 500;
}
.distributors hr {
  width: 100%;
  border-top: 1px solid #000;
  margin: 20px 0;
}
.distributors__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.distributors__card {
  margin-bottom: 30px;
  width: calc(100%/3);
  padding-right: 30px;
}
.distributors__card a {
  display: block;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 768px) {
  .distributors__card {
    width: 50%;
  }
}
{% endstyle %}
