<div class="section-faqs">

  

</div>

{% schema %}
{
  "name": "Faqs",
  "tag": "section",
  "class": "shopify-section--faqs three-quarter",
  "presets": [
      {
      "name": "Faqs"
      }
    ]
}
{% endschema %}

{% stylesheet %}


@media screen and (min-width: 1024px) {

}

{% endstylesheet %}