<script src="{{ 'finder.js' | asset_url }}" defer="defer"></script>

<div class="finder-container">
    <div class="finder-content">
        <div class="finder-head js-finder-head-default">
            <h1>BOARD FINDER</h1>
            <p>Uncertain about which board is right for you? Let our super-advanced algorithm assist you.<br/>
            Simply follow the prompts to discover the perfect companion for your adventures.</p>
        </div>
        <div class="finder-head js-finder-head-result hide">
            <h1>Our Suggestion</h1>
            <p style="padding: 0 20px;">
            <strong>Based on your answers, our super-advanced algorithm has selected these boards<br/>
            as your ideal companion for transcendent alpine adventures!</strong><br/> 
            For a more freestyle-oriented setup with enhanced maneuverability consider sizing down. <br/> 
            Alternatively, if you prefer a more aggressive ride with stability at high speeds and bigger airs, sizing up would be the better choice.
            </p>
        </div>
        <div class="finder-steps">

            <div class="finder-step js-steps" data-step="step1">
                <strong>Snowboard Category:</strong>
                <div class="fs-cats">
                    <div class="fs-cat js-step1-value" data-cat="Men">MEN'S</div>
                    <div class="fs-cat js-step1-value" data-cat="Women">WOMEN'S</div>
                    <div class="fs-cat js-step1-value" data-cat="Kids">YOUTH</div>
                    <span class="step-error">Must complete all fields</span>
                </div>
            </div>

            <div class="finder-step hide js-steps" data-step="step2">
                {% include "find-my-size-tool" %}
                <span class="step-error">Must complete all fields</span>
            </div>

            <div class="finder-step hide js-steps" data-step="step3">
                <strong>Riding Ability:</strong>
                <div class="fs-abilities">
                    <div class="fs-ability js-step3-value" data-ablity="Beginner">BEGINNER</div>
                    <div class="fs-ability js-step3-value" data-ablity="Intermediate">INTERMEDIATE</div>
                    <div class="fs-ability js-step3-value" data-ablity="Advanced">ADVANCED</div>
                    <span class="step-error">Must complete all fields</span>
                </div>
            </div>

            <div class="finder-step hide js-steps" data-step="step4">
                {% comment %} <span class="sup-title">DRAG THE SLIDER TO DEFINE YOUR</span> {% endcomment %}
                <div class="fs-styles">
                    <div class="fs-style js-step4-value" data-style="style-1">
                        <strong class="info-style">{% include "icon-info"%} Rider Type:</strong>
                        <div class="modal-fs-style hide">
                            <div class="modal-fs-style__content">
                                <strong>Freestyle:</strong>
                                    A freestyle board is your go-to for tricks and park riding, focusing on jumps, rails, and riding switch. These boards typically have a twin tip shape, and flex patterns that allow for greater maneuverability and playfulness for buttering, jibbing, and mid-sized jumps. If you're a more advanced rider looking to launch off the biggest booters at your park, choose a stiffer flex in the flex slider.
                                    <br/><span>Rider Reference: Scott Stevens, Henna Ikola</span><br/><br/>
                                <strong>Resort/All-Mountain:</strong>
                                    Versatility is where all-mountain boards excel - suitable for conquering the entire resort. Offering stability at speed while still being playful enough for kickers and side hits, our collection offers a wide range of flexes and shapes to suit your fine-tuned needs. Consider a directional option for speed or a twin if you’re prone to going switch.
                                    <br/><span>Rider Reference: Arthur Longo, Mia Brookes</span><br/><br/>
                                <strong>Freeride/Powder:</strong>
                                    For the off-piste riders, freeride boards excel in high speeds, burly drops, and deep snow. Featuring constructions and flex patterns to charge through snow in addition to excellent edge hold, they prioritize stability on steep descents to get you into and out of the hairiest situations.
                                    <br/><span>Rider Reference: Jess Kimura, Kazu Kokubo</span>
                            </div>
                        </div>
                        <div class="level-selector">
                            <div class="level-selector__line">
                                <span class="selector-segment" attr-segment="1"></span>
                                <span class="selector-segment" attr-segment="2"></span>
                                <span class="selector-segment" attr-segment="3"></span>
                                <span class="selector-segment" attr-segment="4"></span>
                                <span class="selector-segment" attr-segment="5"></span>
                                <span class="selector-segment" attr-segment="6"></span>
                                <span class="selector-segment" attr-segment="7"></span>
                                <span class="selector-segment" attr-segment="8"></span>
                                <span class="selector-segment" attr-segment="9"></span>
                                <span class="selector-segment" attr-segment="10"></span>
                                <span class="selector-pin">{% include "icon-double-arrows" %}</span>
                            </div>
                            <div class="level-selector__num">
                                <span attr-num="1">FREESTYLE</span>
                                <span attr-num="5">ALL MOUNTAIN</span>
                                <span attr-num="10">FREERIDE</span>
                            </div>
                        </div>
                    </div>
                    <div class="fs-style js-step4-value" data-style="style-2">
                        <strong class="info-style">{% include "icon-info"%} Flex:</strong>
                        <div class="modal-fs-style hide">
                            <div class="modal-fs-style__content">
                                <strong>Flex:</strong>
                                This all-important attribute will determine how you can manipulate your board on snow.
                                <br><br>
                                Soft, flexible boards are great for jibbing, buttering, and overall command over your snowboard, especially in the park. They’re easy to ride and very forgiving.
                                <br><br>
                                Stiffer boards have more power, energy, and pop, as well as increased stability at high speeds but they require more effort and control from the rider.
                            </div>
                        </div>
                        <div class="level-selector">
                            <div class="level-selector__line">
                                <span class="selector-segment" attr-segment="1"></span>
                                <span class="selector-segment" attr-segment="2"></span>
                                <span class="selector-segment" attr-segment="3"></span>
                                <span class="selector-segment" attr-segment="4"></span>
                                <span class="selector-segment" attr-segment="5"></span>
                                <span class="selector-segment" attr-segment="6"></span>
                                <span class="selector-segment" attr-segment="7"></span>
                                <span class="selector-segment" attr-segment="8"></span>
                                <span class="selector-segment" attr-segment="9"></span>
                                <span class="selector-segment" attr-segment="10"></span>
                                <span class="selector-pin">{% include "icon-double-arrows" %}</span>
                            </div>
                            <div class="level-selector__num">
                                <span attr-num="1">SOFT</span>
                                <span attr-num="10">STIFF</span>
                            </div>
                        </div>
                    </div>
                    <span class="step-error">Must complete all fields</span>
                </div>
            </div>

            <div class="finder-step hide js-steps" data-step="step5">
                <div class="fs-results">
                    <img class="result-loader" src='{{ "loader.gif" | asset_url }}' alt="union loader">

                    <div class="no-result js-no-result hide">
                        <strong>Based on your input provided, we don't have a suggestion for you.</strong><br/> Feel free to hit us up for help finding the right board for you! Or, find an authorized CAPiTA Dealer near you.
                        <a class="o-btn is-big" href="/pages/contact">CONTACT US</a>
                    </div>

                    <div class="fs-result js-step5-value hide">
                        <img class="js-fs-result-img" src="" alt="union">
                        <div class="fs-result-data">
                            <span class="fs-result-data__suptitle">OPTION #1</span>
                            <div class="fs-result-data__title js-fs-result-title"></div>
                            <div class="fs-result-data__size js-fs-result-size"></div>
                        </div>
                        <a class="fs-result-btn js-fs-result-link" href="" target="_blank">DISCOVER MORE</a>
                    </div>

                    <div class="fs-result js-step5-value hide">
                        <img class="js-fs-result-img" src="" alt="union">
                        <div class="fs-result-data">
                            <span class="fs-result-data__suptitle">OPTION #2</span>
                            <div class="fs-result-data__title js-fs-result-title"></div>
                            <div class="fs-result-data__size js-fs-result-size"></div>
                        </div>
                        <a class="fs-result-btn js-fs-result-link" href="" target="_blank">DISCOVER MORE</a>
                    </div>
                </div>
            </div>

            <button class="finder-btn-next js-btn-next">NEXT STEP</button>
        </div>
        <div class="finder-foot">
            <div class="finder-foot__content">
                <span class="ff-arrow ff-arrow--prev hidden js-ff-prev">{% include 'icon-arrow-round-left-white' %}</span>
                <div class="ff-steps">
                    <div class="ff-step active" data-step="step1">
                        <span data-step-done="false">{% include 'icon-round-black' %}</span>
                    </div>
                    <div class="ff-step" data-step="step2">
                        <span data-step-done="false">{% include 'icon-round-black' %}</span>
                    </div>
                    <div class="ff-step" data-step="step3">
                        <span data-step-done="false">{% include 'icon-round-black' %}</span>
                    </div>
                    <div class="ff-step" data-step="step4">
                        <span data-step-done="false">{% include 'icon-round-black' %}</span>
                    </div>
                </div>
                <span class="ff-arrow ff-arrow--next js-ff-next">{% include 'icon-arrow-round-right-white' %}</span>
            </div>
        </div>
    </div>
</div>

{% style %}
.hide {
    display: none !important;
}
main#MainContent {
    background: url(https://cdn.shopify.com/s/files/1/0231/7366/0752/files/background.jpg?v=1718629476);
}
.finder-container {
    margin-top: 120px;
}
.finder-container p {
    font-size: 18px;
}
.finder-container h1 {
    font-size: 52px;
    font-weight: 700 !important;
    margin-bottom: 15px;
}
.finder-head {
    margin: 50px 0 30px 0;
    text-align: center;
}
.finder-head h1 {
    font-weight: 500;
}
button.finder-btn-next {
    background-color: #00000080;
    color: #FFF;
    height: 55px;
    width: 100%;
    max-width: 270px;
    border-radius: 30px;
    text-align: center;
    border: 0;
    margin: 30px auto;
    display: block;
    font-weight: 500;
}
button.finder-btn-next.active {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.finder-foot {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finder-foot__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ff-arrow {
    cursor: pointer;
    margin: 0 15px;
}
.ff-arrow.hidden {
    opacity: 0.2;
    pointer-events: none;
    display: block;
}
.ff-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 10px;
}
.ff-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 65px;
    padding: 2px 0;
}
.ff-step .hide {
    display: none;
}
.ff-step span.step-title {
    font-size: 10px;
}
.ff-step {
    border-right: 1px solid #000;
}
.ff-step:nth-child(4) {
    border-right: none;
}
.ff-step svg {
    visibility: hidden;
    opacity: 0;
}
.ff-step.active svg {
    visibility: visible;
    opacity: 1;
}
/* .ff-step span[data-step-done="false"] {
    display: block;
}
.ff-step span[data-step-done="true"] {
    display: none;
}
.ff-step.active span[data-step-done="false"] {
    display: none;
}
.ff-step.active span[data-step-done="true"] {
    display: block;
} */
.finder-step {
    min-height: 270px;
}
.finder-steps {
    max-width: 360px;
    min-height: 360px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.fs-cats,
.fs-abilities {
    margin-top: 20px;
    border: 1px solid #1b1b1b;
    border-radius: 20px;
}
.fs-cats,
.fs-abilities {
    position: relative;
}
.fs-cat,
.fs-ability {
    border-bottom: 1px solid #1b1b1b;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 500;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
}
.fs-cat,
.fs-ability {
    background: #fff;
}
.fs-cat:nth-child(1),
.fs-ability:nth-child(1) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.fs-cat:nth-child(3),
.fs-ability:nth-child(3) {
    border-bottom: none !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.fs-cat.selected,
.fs-ability.selected {
    background: #000;
    color: #fff;
}
.fs-cat:hover,
.fs-ability:hover {
    background: #000;
    color: #fff;
}
.finder-step[data-step="step1"].error .fs-cat,
.finder-step[data-step="step2"].error .select-union,
.finder-step[data-step="step3"].error .fs-ability,
.finder-step[data-step="step4"].error .fs-style .level-selector__line {
    border-color: #E11717;
}
.step-error {
    color: #E11717;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.2s;
} 
.finder-step.error .step-error {
    opacity: 1;
    visibility: visible;
    transition-duration: 0.2s;
}
.fs-cats .step-error,
.fs-size .step-error,
.fs-abilities .step-error,
.fs-styles .step-error {
    position: absolute;
}
.fs-cats .step-error,
.fs-size .step-error,
.fs-abilities .step-error,
.fs-styles .step-error  {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.finder-steps .sup-title {
    font-size: 11px;
    display: block;
}
select.select-union option {
  color: #000;
}
select.select-union.js-size-type {
    width: calc(45% - 10px);
    border-radius: 7px;
    font-family: Gotham, sans-serif;
    font-weight: 500;
}
select.select-union.js-size-num {
    width: calc(55% - 10px);
    border-radius: 7px;
    font-family: Gotham, sans-serif;
    font-weight: 500;
}
.fs-size {
    position: relative;
}
.fs-size-selectors {
    margin: 10px 0 50px 0;
}
.fs-size-result__box {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #d6d6d6;
    border-radius: 7px;
    margin-top: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
select.select-union.select-union--inactive.js-size-num {
    opacity: 0.5;
    pointer-events: none;
}

.fs-styles {
    margin-top: 30px;
    position: relative;
}
.fs-style {
    margin-bottom: 50px;
    position: relative;
}
.fs-style .info-style {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fs-style .info-style svg {
    margin-right: 5px;
    width: 15px;
    cursor: pointer;
}
span.fs-style__title {
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}
.modal-fs-style {
    position: absolute;
    top: 0;
    background: #fff;
    z-index: 9;
    border-radius: 20px;
    border: 1px solid #000;
    font-size: 12px;
    padding: 20px;
    text-align: left;
}
.modal-fs-style__content strong {
    text-align: left;
}
.modal-fs-style__content span {
    margin-top: 5px;
}
.level-selector__line {
    display: flex;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
}
span.selector-segment {
    width: calc(10%);
    display: block;
    /* margin: 0 1px; */
    background: #fff;
    height: 7px;
    border-right: 2px solid #000;
}
span.selector-segment:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
span.selector-segment:nth-child(10) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: none;
}
.level-selector__num {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 10px;
    user-select: none;
}
span.selector-pin {
    width: 26px;
    height: 20px;
    border-radius: 3px;
    background: #000;
    top: -7px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
}
span.selector-pin svg {
    width: 20px;
    height: 20px;
    filter: invert(1);
    margin: 0 auto;
}
.fs-result {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background: #f5f5f5;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.fs-result img {
    max-width: 80px;
    margin: 10px;
}
img.result-loader {
    max-width: 50px;
    margin: 30px auto;
}
.fs-result .fs-result-data__suptitle {
    font-size: 14px;
    font-weight: 500;
}
.fs-result .fs-result-data__title {
    font-size: 20px;
    font-weight: 500;
}
.fs-result .fs-result-data__size {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
.fs-result .fs-result-btn {
    width: 100%;
    background: #000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    border-radius: 25px;
    border: 1px solid #000;
}
.fs-result .fs-result-btn:hover {
    background: #fff;
    color: #000;
}
.fs-result-data {
    width: calc(100% - 100px);
    text-align: left;
    padding: 10px 0 10px 30px;
}
img.js-fs-result-img {
    width: 80px;
    height: 120px;
}
.finder-step.js-steps[data-step="step5"]:not(.hide) + .finder-btn-next {
    display: none !important;
}
.finder-step[data-step="step5"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
a.result-size {
    background: #000;
    padding: 5px 15px;
    margin-right: 5px;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #000;
}
a.result-size:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
.no-result {
    font-size: 16px; 
}
.no-result .o-btn.is-big {
    margin-top: 40px;
    background: #000;
    color: #fff;
    height: 55px;
    width: 100%;
    max-width: 270px;
    border-radius: 30px;
    text-align: center;
    border: 0;
    margin: 30px auto;
    display: block;
    font-weight: 500;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    .finder-container {
        margin-top: 90px;
    }
    .fs-result .fs-result-btn,
    button.finder-btn-next {
        font-size: 20px;
    }
    .finder-container h1 {
        font-size: 44px;
        line-height: 1;
    }
    .finder-step.js-steps strong {
        font-size: 20px;
    }
    img.js-fs-result-img {
        width: 80px;
        height: 120px;
    }
    .finder-steps {
        min-height: unset;
    }
    .finder-step {
        min-height: 200px;
    }
    .fms-content .fsm-box {
        margin-bottom: 20px;
    }
    button.finder-btn-next {
        margin: 20px auto;
    }
    .fs-style {
        margin-bottom: 30px;
    }
    .step-error {
        margin-top: -20px;
        display: block;
    }
    .no-result {
    font-size: 16px; 
}
}


{% endstyle %}


{% schema %}
{
    "name": "Finder",
    "presets": [
        {
        "name": "Finder"
        }
    ]
}
{% endschema %}




{% javascript %}

(async function() {

    async function find_products_comb(gender) {

        let url_fetch = "/pages/dealers?view=size-finder-man.json"
        if (gender == "men") {
            url_fetch = "/pages/dealers?view=size-finder-man.json"
        } else if (gender == "women") {
            url_fetch = "/pages/dealers?view=size-finder-wom.json"
        }

        const response = await fetch(url_fetch);
        const movies = await response.json();
        console.log(movies.comb)
        return movies.comb
    }

        let selectors = {
            fsmContent: '.fms-content',
            fmsRadios: '.fsm-box-radio',
            fmsBoxSelects: '.fsm-box-select',
            fmsSelectHeightOptions: '.js-fsm-box-select-height option',
            fmsSelectSizeOptions: '.js-fsm-box-select-size option',
        };

        let fsmContent = document.querySelector(selectors.fsmContent);
        let fmsRadios = document.querySelectorAll(selectors.fmsRadios);
        let fmsBoxSelects = document.querySelectorAll(selectors.fmsBoxSelects);
        let fmsSelectHeightOptions = document.querySelectorAll(selectors.fmsSelectHeightOptions);
        let fmsSelectSizeOptions = document.querySelectorAll(selectors.fmsSelectSizeOptions);


        let size_json = {
            "height": "",
            "size": "",
        }

        async function find_results() {

            let no_result = true

            if ((size_json.height != "") && (size_json.size != "")) {

                let gender = document.querySelector(".finder-step[data-step='step2']").getAttribute("gender")

                // remap geneder
                if (gender == "Men") {
                    gender = "men"
                } else if (gender = "Women") {
                    gender = "women"
                } else if (gender = "Kids") {
                    gender = "kid"
                }

                let data_result = await find_products_comb(gender)

                let result1
                let result2

                data_result.forEach((result) => {

                    if ((result.height == size_json.height) &&(result.size == size_json.size)) {
                        console.log("trovato: " + result.result1 + " " + result.result2)
                        result1 = result.result1
                        result2 = result.result2
                    }

                })

                console.log(" ---- " + result1 + " ---- " )
                console.log(" ---- " + result2 + " ---- " )

                result1 = result1.toString()
                result2 = result2.toString()

                sessionStorage.setItem("Step2","<a href='' class='result-size js-result-size--1'>"+result1+"</a><a href='' class='result-size js-result-size--2'>"+result2+"</a>")

                document.querySelector(".js-btn-next").classList.add("active")
                document.querySelector(".js-ff-next").classList.remove("hidden")

            } else {
                document.querySelector(".js-btn-next").classList.remove("active")
                document.querySelector(".js-ff-next").classList.add("hidden")
            }

        }
        
        // cambio dei selectors
        fmsBoxSelects.forEach((fmsBoxSelect,boxIndex) => {

            let fmsSelects = fmsBoxSelect.querySelectorAll("select");

            let data_type = fmsBoxSelect.getAttribute("data-select")
            
            size_json[data_type] = fmsSelects[0].selectedIndex
            
            fmsSelects.forEach(fmsSelect => {
                
                fmsSelect.addEventListener("change", function(){
                    size_json[data_type] = fmsSelect.value
                    find_results()
                })
            })
        })

        fmsRadios.forEach(fmsRadio => {

            let fmsRadioSelector = fmsRadio.querySelector(".selector-radio");

            fmsRadio.addEventListener("click", function(){

                console.log("change")
    
                let data_select = fmsRadio.getAttribute("data-select")
                let box_select = document.querySelector(".fsm-box-select[data-select='"+data_select+"']")
    
                let select_first = box_select.querySelector("select:nth-child(1)") // US
                let select_second = box_select.querySelector("select:nth-child(2)") // EU

                if (fmsRadioSelector.classList.contains("select-second")) {

                    if (fsmContent.classList.contains("fms-content--us")) {
                        select_first.classList.remove("hide")
                        select_first.value = select_second.value
                        select_second.classList.add("hide")
                    } else {
                        select_second.classList.remove("hide")
                        select_second.value = select_first.value
                        select_first.classList.add("hide")
                    }

                } else {

                    if (fsmContent.classList.contains("fms-content--us")) {
                        console.log("mostra us")
                        select_second.classList.remove("hide")
                        select_second.value = select_first.value
                        select_first.classList.add("hide")
                    } else {
                        console.log("mostra eu")
                        select_first.classList.remove("hide")
                        select_first.value = select_second.value
                        select_second.classList.add("hide")
                    }

                }
            })
        });


        let json_combinations = []
        let num_comb = 0

        fmsSelectHeightOptions.forEach((fmsSelectHeightOption) => {

            if(fmsSelectHeightOption.value != "SELECT") {

                fmsSelectSizeOptions.forEach((fmsSelectSizeOption) => {
                    if(fmsSelectSizeOption.value != "SELECT") {
                        var obj = new Object();
                        obj.height = fmsSelectHeightOption.value;
                        obj.size = fmsSelectSizeOption.value;
                        obj.results = ["res1","res2"];
                        json_combinations.push(obj)

                        num_comb++
                    }
                })
            }


        })

        var json_combinations_string = JSON.stringify(json_combinations);


    })();

{% endjavascript %} 
