<div class="section-team-head">
    

</div>

{% schema %}
  {
    "name": "Team Head",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "name": "Team Head"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

@media screen and (max-width: 768px) {

}

{% endstylesheet %}

