<div class="how js-step">
    <div class="u-bg-full-black">
      <div class="u-container u-content">
        <div class="how-hero">
          <h1 class="how-hero__title">What does it take to make<br/><span>Premium Snowboards</span>?</h1>
          <p class="how-hero__copy"><b>There are 200 steps in producing a snowboard.</b><br/>The Mothership’s unique location in the southern border region of Austria allows for extraordinary access to key material suppliers, allowing production to minimize carbon intensive global freight shipping of raw materials and maximize contiguous delivery. This not only supports local businesses but also results in less energy used and less emissions released along the supply chain. It is presented annually to projects focusing on reneweable energies and the conservation of resources.</p>
        </div>
      </div>
    </div>
    <div class="c-step is-fullscreen">
      <div class="c-step__container u-container u-content wider">
        <div class="c-step__content">
          <div class="c-step__top">
            <div class="c-step__number js-step-number">1</div>
            <div class="c-step__title">The people.</div>
          </div>
          <div class="c-step__layer">
            <div class="c-step__subtitle">For decades, some of the greatest performing products in snowboarding have been built in the Austrian Alps.</div>
            <div class="c-step__copy">Maybe it’s being surrounded by lush green valleys and majestic mountain ranges, but Austria is renowned for producing globally desired premier products while maintaining a healthy work and life balance.</div>
          </div>
        </div>
        <div class="c-step__media">
          <video src="https://cdn.shopify.com/videos/c/vp/82cfcb9e7ca740f2baa5a3385b9609ce/82cfcb9e7ca740f2baa5a3385b9609ce.HD-720p-4.5Mbps-9290199.mp4" muted="muted" loop="loop" playsinline="playsinline" autoplay="autoplay"></video>
        </div>
      </div>
    </div>
    <div class="c-step-description">
      <div class="u-container u-content wider">
        <div class="c-step-description__content">
          <div class="c-step-description__text">Establishing our manufacturing home in the Carinthia region has allowed us to retain quality jobs – and create many new ones – for a workforce known for incredible high-caliber production. We have been able to take advantage of a vast wealth of vested knowledge, while forging a new path through emerging technologies and leading our industry with Clean Energy manufacturing.<br/><br/>We feel the best snowboards in the world must be built in a region with an immersive alpine history, whose people live and breathe the crisp fresh air, and are exposed to the mountains from the day they were born.
            <span>We’re proud that every CAPiTA snowboard is built upon multigenerational alpine know-how, by passionate people who care deeply about the snowboarding experience.</span>
          </div>
          <div class="c-step-description__media">
            <video src="https://cdn.shopify.com/videos/c/vp/82cfcb9e7ca740f2baa5a3385b9609ce/82cfcb9e7ca740f2baa5a3385b9609ce.HD-720p-4.5Mbps-9290199.mp4" muted="muted" loop="loop" playsinline="playsinline" autoplay="autoplay"></video>
          </div>
        </div>
      </div>
    </div>
    <div class="how-steps">
      <div class="c-step">
        <div class="c-step__container u-container u-content wider">
          <div class="c-step__content">
            <div class="c-step__top">
              <div class="c-step__number js-step-number">2</div>
              <div class="c-step__title">The people.</div>
            </div>
            <div class="c-step__text">
              <div class="c-step__subtitle">Thoughtfully selected.<br> Locally sourced.</div>
              <div class="c-step__copy">Every snowboard’s recipe of materials is different, and we are careful to select only the best raw materials for each series we produce. With a localized supply chain we are able to form healthy relationships with suppliers of some of the most innovative, high performing, and sustainably produce materials in the industry.</div>
            </div>
          </div>
          <div class="c-step__media">
            <video src="https://cdn.shopify.com/videos/c/vp/82cfcb9e7ca740f2baa5a3385b9609ce/82cfcb9e7ca740f2baa5a3385b9609ce.HD-720p-4.5Mbps-9290199.mp4" muted="muted" loop="loop" playsinline="playsinline" autoplay="autoplay"></video>
          </div>
        </div>
      </div>
      <div class="c-step">
        <div class="c-step__container u-container u-content wider">
          <div class="c-step__content">
            <div class="c-step__top">
              <div class="c-step__number js-step-number">3</div>
              <div class="c-step__title">Grinding Line.</div>
            </div>
            <div class="c-step__text">
              <div class="c-step__subtitle">Thoughtfully selected.<br> Locally sourced.</div>
              <div class="c-step__copy">Every snowboard’s recipe of materials is different, and we are careful to select only the best raw materials for each series we produce. With a localized supply chain we are able to form healthy relationships with suppliers of some of the most innovative, high performing, and sustainably produce materials in the industry.</div>
            </div>
          </div>
          <div class="c-step__media">
            <video src="https://cdn.shopify.com/videos/c/vp/82cfcb9e7ca740f2baa5a3385b9609ce/82cfcb9e7ca740f2baa5a3385b9609ce.HD-720p-4.5Mbps-9290199.mp4" muted="muted" loop="loop" playsinline="playsinline" autoplay="autoplay"></video>
          </div>
        </div>
      </div>
    </div>
</div>


{% schema %}
  {
    "name": "How is Made",
    "settings": [
        {
            "type": "html",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "html",
            "id": "description",
            "label": "Title"
        },
        {
            "type": "html",
            "id": "section_1_title",
            "label": "Section 1 Title"
        },
        {
            "type": "html",
            "id": "section_1_box_title",
            "label": "Section 1 Box Title"
        },
        {
            "type": "html",
            "id": "section_1_box_description",
            "label": "Section 1 Box Description"
        },
        {
            "type": "image_picker",
            "id": "section_1_image_desk",
            "label": "Section 1 image Desk"
        },
        {
            "type": "image_picker",
            "id": "section_1_image_mob",
            "label": "Section 1 image Mob"
        },
        {
            "type": "html",
            "id": "section_2_title",
            "label": "Section 2 Title"
        },
        {
            "type": "html",
            "id": "section_2_sub_title",
            "label": "Section 2 Sub Title"
        },
        {
            "type": "html",
            "id": "section_2_sub_text",
            "label": "Section 2 Sub text"
        },
        {
            "type": "image_picker",
            "id": "section_2_image",
            "label": "Section 2 Image"
        },
        {
            "type": "html",
            "id": "section_3_title",
            "label": "Section 3 Title"
        },
        {
            "type": "html",
            "id": "section_3_sub_title",
            "label": "Section 3 Sub Title"
        },
        {
            "type": "html",
            "id": "section_3_sub_text",
            "label": "Section 3 Sub text"
        },
        {
            "type": "image_picker",
            "id": "section_3_image",
            "label": "Section 3 Image"
        },
        {
            "type": "html",
            "id": "section_4_title",
            "label": "Section 4 Title"
        },
        {
            "type": "html",
            "id": "section_4_box_title",
            "label": "Section 4 Box Title"
        },
        {
            "type": "html",
            "id": "section_4_box_text",
            "label": "Section 4 Box text"
        },
        {
            "type": "image_picker",
            "id": "section_4_image",
            "label": "Section 4 Image"
        },
        {
            "type": "html",
            "id": "section_5_title",
            "label": "Section 5 Title"
        },
        {
            "type": "html",
            "id": "section_5_sub_title",
            "label": "Section 5 Sub Title"
        },
        {
            "type": "html",
            "id": "section_5_sub_text",
            "label": "Section 5 Sub text"
        },
        {
            "type": "image_picker",
            "id": "section_5_image",
            "label": "Section 5 Image"
        },
        {
            "type": "html",
            "id": "section_6_title",
            "label": "Section 6 Title"
        },
        {
            "type": "html",
            "id": "section_6_sub_title",
            "label": "Section 6 Sub Title"
        },
        {
            "type": "html",
            "id": "section_6_sub_text",
            "label": "Section 6 Sub text"
        },
        {
            "type": "image_picker",
            "id": "section_6_image",
            "label": "Section 6 Image"
        },
        {
            "type": "html",
            "id": "section_7_title",
            "label": "Section 7 Title"
        },
        {
            "type": "html",
            "id": "section_7_sub_title",
            "label": "Section 7 Sub Title"
        },
        {
            "type": "html",
            "id": "section_7_sub_text",
            "label": "Section 7 Sub text"
        },
        {
            "type": "image_picker",
            "id": "section_7_image",
            "label": "Section 7 Image"
        },
        {
            "type": "html",
            "id": "section_8_title",
            "label": "Section 8 Title"
        },
        {
            "type": "html",
            "id": "section_8_box_title",
            "label": "Section 8 Box Title"
        },
        {
            "type": "html",
            "id": "section_8_box_text",
            "label": "Section 8 Box text"
        },
        {
            "type": "video",
            "id": "section_8_video",
            "label": "Section 8 Video"
        },
        {
            "type": "text",
            "id": "cta_text_1",
            "label": "CTA Text 1"
        },
        {
            "type": "url",
            "id": "cta_link_1",
            "label": "CTA Link 1"
        },
        {
            "type": "select",
            "id": "arrow_type_1",
            "label": "Arrow Type",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "arrow_normal",
                "label": "Arrow Normal"
              },
              {
                "value": "arrow_play",
                "label": "Arrow Play"
              }
            ],
            "default": "none"
        },
        {
            "type": "text",
            "id": "cta_text_2",
            "label": "CTA Text 2"
        },
        {
            "type": "url",
            "id": "cta_link_2",
            "label": "CTA Link 2"
        },
        {
            "type": "select",
            "id": "arrow_type_2",
            "label": "Arrow Type",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "arrow_normal",
                "label": "Arrow Normal"
              },
              {
                "value": "arrow_play",
                "label": "Arrow Play"
              }
            ],
            "default": "none"
        },
        {
            "type": "text",
            "id": "cta_text_3",
            "label": "CTA Text 3"
        },
        {
            "type": "url",
            "id": "cta_link_3",
            "label": "CTA Link 3"
        },
        {
            "type": "select",
            "id": "arrow_type_3",
            "label": "Arrow Type",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "arrow_normal",
                "label": "Arrow Normal"
              },
              {
                "value": "arrow_play",
                "label": "Arrow Play"
              }
            ],
            "default": "none"
        }
    ],
    "presets": [
        {
            "name": "How is Made"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

@media screen and (max-width: 991px) {
   
}

{% endstylesheet %}

