<div class="section-logo-list">
    <div class="logo-list">
        <h2 class="logo-list__title strong">{{ section.settings.title }}</h2>
        <div class="logo-list__content">
            {% for block in section.blocks %}
                <div class="single-logo">
                    <img src="{{ block.settings.image | img_url: "master" }}" alt="{{ block.settings.title | strip_html }}">
                </div>
            {% endfor %}
        </div>
        <div class="logo-list__description">{{ section.settings.description }}</div>
    </div>
</div>

{% schema %}
  {
    "name": "Logo List",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Description"
        }
    ],
    "blocks": [
        {
            "type": "list",
            "name": "list",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Logo List"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

.section-logo-list {
    background: #000;
    padding: 50px 20px;
}
.logo-list {
    max-width: 1440px;
    margin: 50px auto 70px auto;
    color: #fff;
}
.logo-list__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
}
.single-logo {
    height: 130px;
}
.logo-list__title {
    font-size: 60px;
    color: #fff;
}
.logo-list__description {
    font-size: 24px;
    line-height: 1;
}
{% endstylesheet %}

