<div class="section-main-page">
  {% if section.settings.enable_head %}
    <div class="main-page">
      <h1>
        {% if section.settings.title != blank %}
          {{ section.settings.title }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>
      <div class="main-page_description">
        {% if section.settings.description != blank %}
          {{ section.settings.description }}
        {% else %}
          {{ page.content }}
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "shopify-section--main-page four-quarter",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_head",
      "label": "Enable head (title and description)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title (instead of default title)"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description (instead of default description)"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.section-main-page {
    width: 75%;
    float: right;
    margin-bottom: 40px;
}
.main-page h1 {
  font-family: "Calibre-Semibold";
  font-size: 28px;
  margin: 0;
  text-transform: uppercase;
}
{% endstylesheet %}