<main class="main-page">
  <div class="c-product js-product-slider">
      <div class="c-product__thumbs"><button class="c-product__nav-prev js-product-slider-prev" type="button"><svg
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 40">
                  <path stroke="#000" stroke-linecap="round" stroke-width="2" d="M33 26 20.5 14 8 26" />
                  </svg></button>
          <div class="c-product__thumbs-slider swiper js-product-slider-thumbs">
              <div class="swiper-wrapper">
                  <div class="swiper-slide c-product__thumb"><img src="snowboard.png" alt="alt" /></div>
                  <div class="swiper-slide c-product__thumb"><img src="snowboard.png" alt="alt" /></div>
                  <div class="swiper-slide c-product__thumb"><img src="snowboard.png" alt="alt" /></div>
                  <div class="swiper-slide c-product__thumb"><img src="snowboard.png" alt="alt" /></div>
              </div>
          </div><button class="c-product__nav-next js-product-slider-next" type="button"><svg
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 40">
                  <path stroke="#000" stroke-linecap="round" stroke-width="2" d="m8 14 12.5 12L33 14" />
                  </svg></button>
      </div>
      <div class="c-product__main swiper js-product-slider-main">
          <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="snowboard.png" alt="alt" /></div>
              <div class="swiper-slide"><img src="snowboard.png" alt="alt" /></div>
              <div class="swiper-slide"><img src="snowboard.png" alt="alt" /></div>
              <div class="swiper-slide"><img src="snowboard.png" alt="alt" /></div>
          </div>
      </div>
      <div class="c-product-info">
          <div class="c-product-info__top"><span class="c-product-info__categories">MEN’S / TRUE TWIN / CAMBER</span>
              <h2 class="c-product-info__name">SUPER D.O.A.</h2><span class="c-product-info__price">$800.00</span>
              <p class="c-product-info__description">One of the best snowboards ever designed, upgraded and
                  super-charged.</p>
              <div class="c-product-info__sizes"><button class="c-product-info__size"
                      type="button">152</button><button class="c-product-info__size" type="button">152</button><button
                      class="c-product-info__size" type="button">152</button><button
                      class="c-product-info__size is-active" type="button">152</button><button
                      class="c-product-info__size" type="button">152</button><button class="c-product-info__size"
                      type="button">152</button><button class="c-product-info__size is-disabled"
                      type="button">152</button><button class="c-product-info__size" type="button">152</button><button
                      class="c-product-info__size" type="button">152</button></div><button
                  class="c-product-info__find-size" type="button">find my size</button>
          </div><button class="c-product-info__add-to-cart" type="button"><span>add to cart</span><svg
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 17">
                  <path fill="#fff"
                      d="M2.802 13.912h-.389c-.582-.014-.941-.513-.733-1.054.173-.433.403-.837.597-1.263a.425.425 0 0 0 .036-.231c-.396-1.87-.798-3.74-1.194-5.61C.832 4.405.537 3.056.257 1.706c-.03-.13-.08-.151-.194-.151H-2.18c-.468 0-.82-.34-.82-.773 0-.354.259-.686.611-.75.094-.022.194-.022.295-.022.891 0 1.783.014 2.674 0 .848-.022.97.353 1.107.93.036.167.065.333.087.506.014.087.05.13.143.116h14.177c.194 0 .381 0 .546.122.223.16.36.369.36.65v6.172c0 .433-.302.736-.748.787-1.768.21-3.537.419-5.305.62-1.941.224-3.882.448-5.823.68-.446.05-.885.108-1.338.165.05.282.144.556.123.816-.015.26-.144.52-.23.794h10.87c.186 0 .388.036.546.123.302.159.424.505.345.83a.778.778 0 0 1-.697.577c-.151.008-.31 0-.475.022.503.152.87.462 1.079.938.136.31.158.643.064.968-.194.707-.805 1.184-1.502 1.17a1.545 1.545 0 0 1-1.488-1.206 1.564 1.564 0 0 1 .036-.794c.079-.275.222-.506.438-.679.209-.159.446-.274.647-.397H3.5c.438.144.79.397 1.006.816.223.418.238.852.072 1.285-.223.606-.898 1.018-1.545.974-.734-.05-1.294-.657-1.395-1.249-.108-.635.158-1.494 1.157-1.833h.008Z" />
                  </svg></button><span class="c-product-info__shipping"><u>Free shipping</u>
              for orders over 100$
              <u>30 days return</u></span>
      </div>
  </div>
  <div class="c-product-tech">
      <div class="c-product-tech__sx">
          <div class="c-product-tech__specs">
              <div class="c-spec"><span class="c-spec__type">shape</span><span class="c-spec__value">true twin</span>
              </div>
              <div class="c-spec"><span class="c-spec__type">sidecut</span><span class="c-spec__value">blended
                      radial</span></div>
              <div class="c-spec"><span class="c-spec__type">flex</span><span class="c-spec__value">twin 6</span>
                  <div class="c-spec__level is-blue" style="--dot-position: 7; --steps: 10">
                      <div class="c-spec__dot"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                  </div>
              </div>
              <div class="c-spec"><span class="c-spec__type">rider type</span><span
                      class="c-spec__value">Resort</span></div>
              <div class="c-spec"><span class="c-spec__type">skill level</span>
                  <div class="c-spec__level" style="--dot-position: 4; --steps: 5">
                      <div class="c-spec__dot"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                  </div>
              </div>
              <div class="c-spec"><span class="c-spec__type">TERRAIN VERSATILITY</span>
                  <div class="c-spec__level" style="--dot-position: 5; --steps: 5">
                      <div class="c-spec__dot"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                  </div>
              </div>
              <div class="c-spec"><span class="c-spec__type">GROOMERS</span>
                  <div class="c-spec__level" style="--dot-position: 2; --steps: 5">
                      <div class="c-spec__dot"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                  </div>
              </div>
              <div class="c-spec"><span class="c-spec__type">POWDER</span>
                  <div class="c-spec__level" style="--dot-position: 5; --steps: 5">
                      <div class="c-spec__dot"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                  </div>
              </div>
              <div class="c-spec"><span class="c-spec__type">JUMPS</span>
                  <div class="c-spec__level" style="--dot-position: 5; --steps: 5">
                      <div class="c-spec__dot"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                  </div>
              </div>
              <div class="c-spec"><span class="c-spec__type">FLAT TRICK / JIBBING</span>
                  <div class="c-spec__level" style="--dot-position: 3; --steps: 5">
                      <div class="c-spec__dot"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                      <div class="c-spec__line"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="c-product-tech__dx">
          <div class="c-product-tech__story"><span class="c-product-tech__subtitle">tech story</span><span
                  class="c-product-tech__title">super d.o.a.</span>
              <div class="c-product-tech__text">
                  <p>Bear witness to the technically supreme, supercharged, SUPER D.O.A. This game-changing
                      super-snowboard has embraced the shaping and camber theory from one of the most successful and
                      widely loved snowboards ever and amplified the construction for some serious
                      fun.<br /><br />Designed for the intermediate and above all-terrain resort rider seeking the
                      award-winning geometry of the D.O.A. series in a lighter, more energetic, and responsive
                      chassis, the SUPER D.O.A. can help you go faster, edge quicker, and push yourself into new and
                      exciting terrain.<br /><br />The SUPER D.O.A. has been responsibly produced with clean energy
                      and environmentally considered components such as P.E.T. recycled plastic core components.
                      Renowned for high-speed performance, the SUPER D.O.A. has been elevated even higher for 2023
                      with a new HyperDriveTM ADV base and optimized with a factory-direct Moonshot Omni-TuneTM. If
                      you want one of the most award-winning snowboards on the market combined with the most advanced
                      tech available, look no further than the SUPER D.O.A.</p>
              </div>
          </div>
          <div class="c-product-tech__story"><span class="c-product-tech__subtitle">camber</span><span
                  class="c-product-tech__title">Resort V1</span>
              <div class="c-product-tech__text">
                  <p>Our RESORT V1 Profile boards take full advantage of the benefits of traditional camber, zero
                      camber, and reverse camber. This next generation design allows you to get the pop and response
                      of a cambered board with all the predictability and easy turn initiation of zero camber or
                      reverse camber shapes.</p>
              </div>
          </div>
          <div class="c-product-tech__image"><svg viewBox="0 0 317 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_447_4418)">
                      <path
                          d="M138.201 37.9503C138.976 37.9503 139.5 37.5136 139.5 36.7217C139.5 35.924 138.976 35.4873 138.201 35.4873H136.635V39.0625H137.561V37.9503H138.201ZM138.591 36.7217C138.591 36.9896 138.44 37.1701 138.102 37.1701H137.561V36.2734H138.102C138.44 36.2734 138.591 36.4481 138.591 36.7217ZM143.253 37.2749C143.253 36.2035 142.537 35.4291 141.5 35.4291C140.47 35.4291 139.759 36.2035 139.759 37.2749C139.759 38.3405 140.47 39.1207 141.5 39.1207C142.537 39.1207 143.253 38.3405 143.253 37.2749ZM142.31 37.2749C142.31 37.8921 141.984 38.2997 141.5 38.2997C141.017 38.2997 140.703 37.8921 140.703 37.2749C140.703 36.6577 141.017 36.2501 141.5 36.2501C141.984 36.2501 142.31 36.6577 142.31 37.2749ZM143.443 38.0028C143.571 38.7073 144.153 39.1207 145.009 39.1207C145.789 39.1207 146.406 38.7015 146.406 37.9678C146.406 37.4146 146.069 37.0827 145.457 36.9372L144.759 36.7741C144.572 36.7334 144.462 36.646 144.462 36.4888C144.462 36.2908 144.642 36.1744 144.91 36.1744C145.219 36.1744 145.382 36.3258 145.457 36.5238H146.371C146.273 35.9065 145.778 35.4291 144.904 35.4291C144.112 35.4291 143.53 35.8891 143.53 36.5878C143.53 37.1934 143.926 37.4671 144.45 37.5835L145.137 37.7291C145.364 37.7815 145.475 37.8572 145.475 38.026C145.475 38.2473 145.277 38.3696 144.991 38.3696C144.7 38.3696 144.491 38.2473 144.415 38.0028H143.443ZM147.745 35.4873H146.808V39.0625H147.745V35.4873ZM148.129 36.2908H149.23V39.0625H150.167V36.2908H151.274V35.4873H148.129V36.2908ZM152.596 35.4873H151.658V39.0625H152.596V35.4873ZM155.152 39.0625L156.485 35.4873H155.524L154.715 37.799L153.906 35.4873H152.904L154.237 39.0625H155.152ZM156.793 35.4873V39.0625H159.349V38.2531H157.713V37.6359H159.21V36.8498H157.713V36.2908H159.349V35.4873H156.793ZM160.838 37.2749C160.838 38.3579 161.555 39.1207 162.556 39.1207C163.447 39.1207 163.971 38.5909 164.099 37.8572H163.168C163.074 38.125 162.882 38.2997 162.556 38.2997C162.061 38.2997 161.782 37.8572 161.782 37.2749C161.782 36.6868 162.061 36.2501 162.556 36.2501C162.882 36.2501 163.074 36.4248 163.168 36.6868H164.099C163.971 35.9589 163.447 35.4291 162.556 35.4291C161.555 35.4291 160.838 36.1919 160.838 37.2749ZM165.48 35.4873L164.117 39.0625H165.043L165.294 38.3696H166.592L166.848 39.0625H167.797L166.435 35.4873H165.48ZM165.946 36.5936L166.313 37.601H165.579L165.946 36.5936ZM170.333 39.0625L171.073 36.9372V39.0625H171.952V35.4873H170.816L170.036 37.7116L169.25 35.4873H168.109V39.0625H168.982V36.9372L169.728 39.0625H170.333ZM174.735 37.2167C174.997 37.1235 175.212 36.844 175.212 36.4597C175.212 35.8192 174.764 35.4873 174.019 35.4873H172.487V39.0625H174.129C174.875 39.0625 175.317 38.7073 175.317 38.061C175.317 37.6592 175.073 37.3273 174.735 37.2167ZM173.378 36.9022V36.2559H173.914C174.188 36.2559 174.333 36.3549 174.333 36.5762C174.333 36.7974 174.188 36.9022 173.914 36.9022H173.378ZM173.378 37.601H174.007C174.269 37.601 174.415 37.7349 174.415 37.9503C174.415 38.1541 174.269 38.2939 174.007 38.2939H173.378V37.601ZM175.729 35.4873V39.0625H178.285V38.2531H176.649V37.6359H178.145V36.8498H176.649V36.2908H178.285V35.4873H175.729ZM180 37.8805L180.745 39.0625H181.782L180.943 37.7815C181.38 37.6184 181.654 37.2458 181.654 36.7043C181.654 35.924 181.124 35.4873 180.355 35.4873H178.748V39.0625H179.674V37.8805H180ZM179.674 36.2734H180.256C180.588 36.2734 180.739 36.4422 180.739 36.7043C180.739 36.9663 180.588 37.1352 180.256 37.1352H179.674V36.2734Z"
                          fill="#0E080A" />
                      <path
                          d="M143.373 43.6222C144.148 43.6222 144.672 43.1855 144.672 42.3936C144.672 41.5959 144.148 41.1592 143.373 41.1592H141.807V44.7344H142.733V43.6222H143.373ZM143.763 42.3936C143.763 42.6615 143.612 42.842 143.274 42.842H142.733V41.9453H143.274C143.612 41.9453 143.763 42.1199 143.763 42.3936ZM145.871 41.1592L144.508 44.7344H145.434L145.684 44.0415H146.983L147.239 44.7344H148.188L146.826 41.1592H145.871ZM146.337 42.2655L146.703 43.2729H145.97L146.337 42.2655ZM148.256 43.6746C148.384 44.3792 148.967 44.7926 149.823 44.7926C150.603 44.7926 151.22 44.3734 151.22 43.6397C151.22 43.0865 150.882 42.7546 150.271 42.6091L149.572 42.446C149.386 42.4053 149.275 42.3179 149.275 42.1607C149.275 41.9627 149.456 41.8463 149.724 41.8463C150.032 41.8463 150.195 41.9977 150.271 42.1956H151.185C151.086 41.5784 150.591 41.1009 149.718 41.1009C148.926 41.1009 148.344 41.5609 148.344 42.2597C148.344 42.8653 148.74 43.1389 149.264 43.2554L149.951 43.401C150.178 43.4534 150.288 43.5291 150.288 43.6979C150.288 43.9192 150.09 44.0415 149.805 44.0415C149.514 44.0415 149.304 43.9192 149.229 43.6746H148.256ZM151.413 41.9627H152.514V44.7344H153.451V41.9627H154.558V41.1592H151.413V41.9627ZM157.046 41.1592H156.108V44.7344H157.046V41.1592ZM160.737 41.1592H159.834V43.1273L158.454 41.1592H157.581V44.7344H158.483V42.644L159.98 44.7344H160.737V41.1592ZM161.073 43.6746C161.201 44.3792 161.784 44.7926 162.64 44.7926C163.42 44.7926 164.037 44.3734 164.037 43.6397C164.037 43.0865 163.699 42.7546 163.088 42.6091L162.389 42.446C162.203 42.4053 162.092 42.3179 162.092 42.1607C162.092 41.9627 162.273 41.8463 162.541 41.8463C162.849 41.8463 163.012 41.9977 163.088 42.1956H164.002C163.903 41.5784 163.408 41.1009 162.535 41.1009C161.743 41.1009 161.161 41.5609 161.161 42.2597C161.161 42.8653 161.557 43.1389 162.081 43.2554L162.768 43.401C162.995 43.4534 163.105 43.5291 163.105 43.6979C163.105 43.9192 162.907 44.0415 162.622 44.0415C162.331 44.0415 162.121 43.9192 162.046 43.6746H161.073ZM164.439 41.1592V44.7344H166.995V43.925H165.359V43.3078H166.855V42.5217H165.359V41.9627H166.995V41.1592H164.439ZM168.71 43.5523L169.455 44.7344H170.492L169.653 43.4534C170.09 43.2903 170.364 42.9177 170.364 42.3761C170.364 41.5959 169.834 41.1592 169.065 41.1592H167.458V44.7344H168.384V43.5523H168.71ZM168.384 41.9453H168.966C169.298 41.9453 169.449 42.1141 169.449 42.3761C169.449 42.6382 169.298 42.807 168.966 42.807H168.384V41.9453ZM170.61 41.9627H171.711V44.7344H172.648V41.9627H173.755V41.1592H170.61V41.9627ZM173.93 43.6746C174.058 44.3792 174.64 44.7926 175.496 44.7926C176.277 44.7926 176.894 44.3734 176.894 43.6397C176.894 43.0865 176.556 42.7546 175.945 42.6091L175.246 42.446C175.06 42.4053 174.949 42.3179 174.949 42.1607C174.949 41.9627 175.13 41.8463 175.397 41.8463C175.706 41.8463 175.869 41.9977 175.945 42.1956H176.859C176.76 41.5784 176.265 41.1009 175.392 41.1009C174.6 41.1009 174.017 41.5609 174.017 42.2597C174.017 42.8653 174.413 43.1389 174.937 43.2554L175.624 43.401C175.852 43.4534 175.962 43.5291 175.962 43.6979C175.962 43.9192 175.764 44.0415 175.479 44.0415C175.188 44.0415 174.978 43.9192 174.902 43.6746H173.93Z"
                          fill="#0E080A" />
                      <path
                          d="M248.225 11.4641H246.565L248.207 9.38533V8.69824H245.372V9.50178H247.014L245.354 11.5805V12.2734H248.225V11.4641ZM248.688 8.69824V12.2734H251.244V11.4641H249.608V10.8469H251.105V10.0608H249.608V9.50178H251.244V8.69824H248.688ZM252.959 11.0914L253.705 12.2734H254.741L253.903 10.9924C254.339 10.8294 254.613 10.4567 254.613 9.9152C254.613 9.13495 254.083 8.69824 253.315 8.69824H251.707V12.2734H252.633V11.0914H252.959ZM252.633 9.48432H253.216C253.547 9.48432 253.699 9.65318 253.699 9.9152C253.699 10.1772 253.547 10.3461 253.216 10.3461H252.633V9.48432ZM258.405 10.4858C258.405 9.41444 257.689 8.64001 256.652 8.64001C255.622 8.64001 254.911 9.41444 254.911 10.4858C254.911 11.5514 255.622 12.3317 256.652 12.3317C257.689 12.3317 258.405 11.5514 258.405 10.4858ZM257.462 10.4858C257.462 11.1031 257.136 11.5107 256.652 11.5107C256.169 11.5107 255.855 11.1031 255.855 10.4858C255.855 9.86862 256.169 9.46102 256.652 9.46102C257.136 9.46102 257.462 9.86862 257.462 10.4858Z"
                          fill="#0E080A" />
                      <path
                          d="M241.277 16.1499C241.277 17.2329 241.993 17.9957 242.994 17.9957C243.885 17.9957 244.409 17.4659 244.537 16.7322H243.606C243.512 17 243.32 17.1747 242.994 17.1747C242.499 17.1747 242.22 16.7322 242.22 16.1499C242.22 15.5618 242.499 15.1251 242.994 15.1251C243.32 15.1251 243.512 15.2998 243.606 15.5618H244.537C244.409 14.8339 243.885 14.3041 242.994 14.3041C241.993 14.3041 241.277 15.0669 241.277 16.1499ZM245.918 14.3623L244.556 17.9375H245.481L245.732 17.2446H247.03L247.286 17.9375H248.236L246.873 14.3623H245.918ZM246.384 15.4686L246.751 16.476H246.017L246.384 15.4686ZM250.771 17.9375L251.511 15.8122V17.9375H252.39V14.3623H251.255L250.474 16.5866L249.688 14.3623H248.547V17.9375H249.42V15.8122L250.166 17.9375H250.771ZM255.173 16.0917C255.435 15.9985 255.65 15.719 255.65 15.3347C255.65 14.6942 255.202 14.3623 254.457 14.3623H252.925V17.9375H254.567C255.313 17.9375 255.755 17.5823 255.755 16.936C255.755 16.5342 255.511 16.2023 255.173 16.0917ZM253.816 15.7772V15.1309H254.352C254.626 15.1309 254.771 15.2299 254.771 15.4512C254.771 15.6724 254.626 15.7772 254.352 15.7772H253.816ZM253.816 16.476H254.445C254.707 16.476 254.853 16.6099 254.853 16.8253C254.853 17.0291 254.707 17.1689 254.445 17.1689H253.816V16.476ZM256.167 14.3623V17.9375H258.723V17.1281H257.087V16.5109H258.583V15.7248H257.087V15.1658H258.723V14.3623H256.167ZM260.438 16.7555L261.183 17.9375H262.22L261.381 16.6565C261.818 16.4934 262.092 16.1208 262.092 15.5793C262.092 14.799 261.562 14.3623 260.793 14.3623H259.186V17.9375H260.112V16.7555H260.438ZM260.112 15.1484H260.694C261.026 15.1484 261.177 15.3172 261.177 15.5793C261.177 15.8413 261.026 16.0102 260.694 16.0102H260.112V15.1484Z"
                          fill="#0E080A" />
                      <path
                          d="M63.7014 11.4563H62.0419L63.684 9.37752V8.69042H60.8483V9.49397H62.4903L60.8308 11.5727V12.2656H63.7014V11.4563ZM64.1646 8.69042V12.2656H66.7208V11.4563H65.0846V10.839H66.5811V10.053H65.0846V9.49397H66.7208V8.69042H64.1646ZM68.436 11.0836L69.1813 12.2656H70.2177L69.3793 10.9846C69.816 10.8216 70.0896 10.4489 70.0896 9.90739C70.0896 9.12713 69.5598 8.69042 68.7911 8.69042H67.1841V12.2656H68.1099V11.0836H68.436ZM68.1099 9.4765H68.6922C69.0241 9.4765 69.1755 9.64536 69.1755 9.90739C69.1755 10.1694 69.0241 10.3383 68.6922 10.3383H68.1099V9.4765ZM73.8816 10.478C73.8816 9.40663 73.1653 8.6322 72.1289 8.6322C71.0983 8.6322 70.3879 9.40663 70.3879 10.478C70.3879 11.5436 71.0983 12.3239 72.1289 12.3239C73.1653 12.3239 73.8816 11.5436 73.8816 10.478ZM72.9383 10.478C72.9383 11.0952 72.6122 11.5028 72.1289 11.5028C71.6456 11.5028 71.3312 11.0952 71.3312 10.478C71.3312 9.86081 71.6456 9.45321 72.1289 9.45321C72.6122 9.45321 72.9383 9.86081 72.9383 10.478Z"
                          fill="#0E080A" />
                      <path
                          d="M56.7531 16.1499C56.7531 17.2329 57.4693 17.9957 58.4708 17.9957C59.3617 17.9957 59.8858 17.4659 60.0139 16.7322H59.0822C58.9891 17 58.7969 17.1747 58.4708 17.1747C57.9759 17.1747 57.6964 16.7322 57.6964 16.1499C57.6964 15.5618 57.9759 15.1251 58.4708 15.1251C58.7969 15.1251 58.9891 15.2998 59.0822 15.5618H60.0139C59.8858 14.8339 59.3617 14.3041 58.4708 14.3041C57.4693 14.3041 56.7531 15.0669 56.7531 16.1499ZM61.3946 14.3623L60.0321 17.9375H60.9579L61.2083 17.2446H62.5068L62.763 17.9375H63.7121L62.3495 14.3623H61.3946ZM61.8604 15.4686L62.2273 16.476H61.4936L61.8604 15.4686ZM66.2478 17.9375L66.9873 15.8122V17.9375H67.8666V14.3623H66.7311L65.9509 16.5866L65.1648 14.3623H64.0235V17.9375H64.8969V15.8122L65.6422 17.9375H66.2478ZM70.6496 16.0917C70.9116 15.9985 71.1271 15.719 71.1271 15.3347C71.1271 14.6942 70.6787 14.3623 69.9334 14.3623H68.402V17.9375H70.044C70.7893 17.9375 71.2319 17.5823 71.2319 16.936C71.2319 16.5342 70.9873 16.2023 70.6496 16.0917ZM69.2929 15.7772V15.1309H69.8286C70.1022 15.1309 70.2478 15.2299 70.2478 15.4512C70.2478 15.6724 70.1022 15.7772 69.8286 15.7772H69.2929ZM69.2929 16.476H69.9217C70.1838 16.476 70.3293 16.6099 70.3293 16.8253C70.3293 17.0291 70.1838 17.1689 69.9217 17.1689H69.2929V16.476ZM71.6432 14.3623V17.9375H74.1994V17.1281H72.5632V16.5109H74.0597V15.7248H72.5632V15.1658H74.1994V14.3623H71.6432ZM75.9145 16.7555L76.6598 17.9375H77.6963L76.8578 16.6565C77.2945 16.4934 77.5682 16.1208 77.5682 15.5793C77.5682 14.799 77.0383 14.3623 76.2697 14.3623H74.6626V17.9375H75.5885V16.7555H75.9145ZM75.5885 15.1484H76.1707C76.5026 15.1484 76.654 15.3172 76.654 15.5793C76.654 15.8413 76.5026 16.0102 76.1707 16.0102H75.5885V15.1484Z"
                          fill="#0E080A" />
                      <path
                          d="M250.543 44.7086L251.289 45.8906H252.325L251.486 44.6096C251.923 44.4466 252.197 44.0739 252.197 43.5324C252.197 42.7521 251.667 42.3154 250.898 42.3154H249.291V45.8906H250.217V44.7086H250.543ZM250.217 43.1015H250.799C251.131 43.1015 251.283 43.2704 251.283 43.5324C251.283 43.7944 251.131 43.9633 250.799 43.9633H250.217V43.1015ZM252.635 42.3154V45.8906H255.191V45.0813H253.555V44.464H255.051V43.678H253.555V43.119H255.191V42.3154H252.635ZM257.675 45.8906L259.008 42.3154H258.047L257.238 44.6271L256.429 42.3154H255.427L256.761 45.8906H257.675ZM259.316 42.3154V45.8906H261.872V45.0813H260.236V44.464H261.733V43.678H260.236V43.119H261.872V42.3154H259.316ZM263.588 44.7086L264.333 45.8906H265.369L264.531 44.6096C264.968 44.4466 265.241 44.0739 265.241 43.5324C265.241 42.7521 264.711 42.3154 263.943 42.3154H262.336V45.8906H263.262V44.7086H263.588ZM263.262 43.1015H263.844C264.176 43.1015 264.327 43.2704 264.327 43.5324C264.327 43.7944 264.176 43.9633 263.844 43.9633H263.262V43.1015ZM265.493 44.8309C265.621 45.5354 266.203 45.9489 267.059 45.9489C267.839 45.9489 268.456 45.5296 268.456 44.7959C268.456 44.2428 268.119 43.9109 267.507 43.7653L266.809 43.6023C266.622 43.5615 266.512 43.4742 266.512 43.3169C266.512 43.119 266.692 43.0025 266.96 43.0025C267.269 43.0025 267.432 43.1539 267.507 43.3519H268.422C268.323 42.7347 267.828 42.2572 266.954 42.2572C266.162 42.2572 265.58 42.7172 265.58 43.4159C265.58 44.0215 265.976 44.2952 266.5 44.4116L267.187 44.5572C267.414 44.6096 267.525 44.6853 267.525 44.8542C267.525 45.0754 267.327 45.1977 267.042 45.1977C266.75 45.1977 266.541 45.0754 266.465 44.8309H265.493ZM268.858 42.3154V45.8906H271.414V45.0813H269.778V44.464H271.274V43.678H269.778V43.119H271.414V42.3154H268.858Z"
                          fill="#0E080A" />
                      <path
                          d="M249.917 49.7749C249.917 50.8579 250.633 51.6207 251.635 51.6207C252.526 51.6207 253.05 51.0909 253.178 50.3572H252.246C252.153 50.625 251.961 50.7997 251.635 50.7997C251.14 50.7997 250.86 50.3572 250.86 49.7749C250.86 49.1868 251.14 48.7501 251.635 48.7501C251.961 48.7501 252.153 48.9248 252.246 49.1868H253.178C253.05 48.4589 252.526 47.9291 251.635 47.9291C250.633 47.9291 249.917 48.6919 249.917 49.7749ZM254.559 47.9873L253.196 51.5625H254.122L254.372 50.8696H255.671L255.927 51.5625H256.876L255.514 47.9873H254.559ZM255.024 49.0936L255.391 50.101H254.658L255.024 49.0936ZM259.412 51.5625L260.151 49.4372V51.5625H261.031V47.9873H259.895L259.115 50.2116L258.329 47.9873H257.188V51.5625H258.061V49.4372L258.806 51.5625H259.412ZM263.814 49.7167C264.076 49.6235 264.291 49.344 264.291 48.9597C264.291 48.3192 263.843 47.9873 263.097 47.9873H261.566V51.5625H263.208C263.953 51.5625 264.396 51.2073 264.396 50.561C264.396 50.1592 264.151 49.8273 263.814 49.7167ZM262.457 49.4022V48.7559H262.993C263.266 48.7559 263.412 48.8549 263.412 49.0762C263.412 49.2974 263.266 49.4022 262.993 49.4022H262.457ZM262.457 50.101H263.086C263.348 50.101 263.493 50.2349 263.493 50.4503C263.493 50.6541 263.348 50.7939 263.086 50.7939H262.457V50.101ZM264.807 47.9873V51.5625H267.363V50.7531H265.727V50.1359H267.224V49.3498H265.727V48.7908H267.363V47.9873H264.807ZM269.079 50.3805L269.824 51.5625H270.86L270.022 50.2815C270.459 50.1184 270.732 49.7458 270.732 49.2043C270.732 48.424 270.202 47.9873 269.434 47.9873H267.827V51.5625H268.753V50.3805H269.079ZM268.753 48.7734H269.335C269.667 48.7734 269.818 48.9422 269.818 49.2043C269.818 49.4663 269.667 49.6352 269.335 49.6352H268.753V48.7734Z"
                          fill="#0E080A" />
                      <path d="M87.4258 39.4219H133.745" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M231.868 39.4219H186.344" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M87.4257 38.9375V39.9062L84.5195 39.4257L87.4257 38.9375Z" fill="#0E080A" />
                      <path d="M231.871 38.9375V39.9062L234.777 39.4257L231.871 38.9375Z" fill="#0E080A" />
                      <path d="M0.265625 28.4609H316.731" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M269.062 19.625H270.032L269.548 22.5312L269.062 19.625Z" fill="#0E080A" />
                      <path d="M269.547 20.8708V13.1172" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M234.18 19.625H235.15L234.665 22.5312L234.18 19.625Z" fill="#0E080A" />
                      <path d="M234.664 20.8708V13.1172" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M260.438 12.6719H266.639" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M237.725 12.6719H237.156H243.732" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M237.726 12.1875V13.1562L234.816 12.6719L237.726 12.1875Z" fill="#0E080A" />
                      <path d="M266.637 12.1875V13.1562L269.547 12.6719L266.637 12.1875Z" fill="#0E080A" />
                      <path d="M83.8398 19.625H84.8098L84.3248 22.5312L83.8398 19.625Z" fill="#0E080A" />
                      <path d="M84.3242 20.8747V13.7656" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M48.9609 19.625H49.9309L49.4459 22.5312L48.9609 19.625Z" fill="#0E080A" />
                      <path d="M49.4453 20.8747V13.7656" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M75.9648 12.6719H81.4182" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M52.5078 12.6719H55.3872H59.4238" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M52.5076 12.1875V13.1562L49.5977 12.6719L52.5076 12.1875Z" fill="#0E080A" />
                      <path d="M81.418 12.1875V13.1562L84.3241 12.6719L81.418 12.1875Z" fill="#0E080A" />
                      <mask id="mask0_447_4418" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="15"
                          width="314" height="13">
                          <path
                              d="M237.681 27.3225C233.335 27.3225 223.249 27.2004 211.571 27.0555C194.337 26.8458 172.89 26.5788 159.211 26.5788H159.05C145.367 26.5788 123.921 26.8419 106.686 27.0555C95.0081 27.2004 84.9225 27.3225 80.5767 27.3225H48.418C48.3684 27.3187 45.3553 27.1432 40.6467 26.6322L40.0853 26.5712C38.5348 26.411 35.6516 26.1173 32.0351 25.221C20.9375 22.4712 3.43184 17.0136 3.25618 16.9564C3.22181 16.9449 3.19126 16.9297 3.16452 16.9106C2.80937 16.6665 2.82464 16.4148 2.86283 16.2889C2.88575 16.2127 2.99649 15.9609 3.38984 15.9609C3.5235 15.9609 3.68007 15.9914 3.84046 16.0525C4.3331 16.2165 21.6325 21.35 32.2299 23.9586C35.1093 24.668 37.962 25.1676 40.7001 25.4422C43.6177 25.7359 48.4028 26.1287 48.4524 26.1326C48.6434 26.1211 71.8162 25.1791 80.5843 25.1791C83.9182 25.1791 92.3426 25.0761 103.005 24.9426C120.255 24.7291 143.882 24.4354 159.054 24.4354H159.215C174.391 24.4354 198.018 24.7291 215.268 24.9426C225.93 25.0761 234.355 25.1791 237.685 25.1791C246.453 25.1791 269.622 26.1249 269.859 26.1326C269.862 26.1326 274.647 25.7359 277.542 25.4461C280.307 25.1715 283.156 24.6718 286.035 23.9586C297.152 21.2203 314.325 16.0868 314.436 16.0487C314.585 15.9914 314.738 15.9609 314.875 15.9609C315.269 15.9609 315.376 16.2127 315.402 16.2889C315.441 16.4148 315.456 16.6665 315.104 16.9106C315.074 16.9297 315.043 16.9449 315.009 16.9564C314.833 17.0098 297.324 22.4712 286.23 25.221C282.61 26.1173 279.727 26.4148 278.18 26.5712L277.618 26.6322C272.914 27.1471 269.897 27.3187 269.866 27.3187H237.688L237.681 27.3225Z"
                              fill="white" />
                      </mask>
                      <g mask="url(#mask0_447_4418)">
                          <path d="M316.502 11.6172H272.891V30.7591H316.502V11.6172Z" fill="#6ABC5D" />
                          <path d="M234.726 23.7734H84.6562V29.4714H234.726V23.7734Z" fill="#4086C6" />
                          <path d="M47.7269 22.3672H35.2812V28.0651H47.7269V22.3672Z" fill="#EC574A" />
                          <path d="M271.438 22.3672H234.426V29.03H271.438V22.3672Z" fill="#F8D601" />
                          <path d="M84.7313 22.3672H47.7266V29.03H84.7313V22.3672Z" fill="#F8D601" />
                          <path d="M35.371 11.6172H2.07812V30.7591H35.371V11.6172Z" fill="#6ABC5D" />
                          <path d="M284.058 23.4844H271.398V29.1823H284.058V23.4844Z" fill="#EC574A" />
                      </g>
                      <path d="M286.129 17.0947V10.7674H312.41V7.13281" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M286.689 16.9766L285.539 16.9918L286.154 20.4319L286.689 16.9766Z" fill="#0E080A" />
                      <path d="M283.527 33.3984H284.497L284.012 30.4922L283.527 33.3984Z" fill="#0E080A" />
                      <path d="M284.016 32.1562V38.6284" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M271.109 33.3984H272.076L271.594 30.4922L271.109 33.3984Z" fill="#0E080A" />
                      <path d="M271.594 32.1562V38.6284" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M274.258 39.7109H277.538H275.701H281.307" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M274.254 40.1953V39.2266L271.344 39.7109L274.254 40.1953Z" fill="#0E080A" />
                      <path d="M281.305 40.1953V39.2266L284.215 39.7109L281.305 40.1953Z" fill="#0E080A" />
                      <path d="M277.776 39.7109V46.37H273.941" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path
                          d="M49.9338 44.6383L50.6791 45.8203H51.7156L50.8771 44.5393C51.3138 44.3763 51.5875 44.0036 51.5875 43.4621C51.5875 42.6818 51.0576 42.2451 50.289 42.2451H48.6819V45.8203H49.6077V44.6383H49.9338ZM49.6077 43.0312H50.19C50.5219 43.0312 50.6733 43.2001 50.6733 43.4621C50.6733 43.7241 50.5219 43.893 50.19 43.893H49.6077V43.0312ZM52.0255 42.2451V45.8203H54.5817V45.0109H52.9455V44.3937H54.4419V43.6076H52.9455V43.0487H54.5817V42.2451H52.0255ZM57.0654 45.8203L58.3988 42.2451H57.4381L56.6287 44.5568L55.8193 42.2451H54.8178L56.1512 45.8203H57.0654ZM58.7069 42.2451V45.8203H61.2631V45.0109H59.6269V44.3937H61.1234V43.6076H59.6269V43.0487H61.2631V42.2451H58.7069ZM62.9783 44.6383L63.7236 45.8203H64.76L63.9215 44.5393C64.3583 44.3763 64.6319 44.0036 64.6319 43.4621C64.6319 42.6818 64.1021 42.2451 63.3334 42.2451H61.7264V45.8203H62.6522V44.6383H62.9783ZM62.6522 43.0312H63.2345C63.5664 43.0312 63.7177 43.2001 63.7177 43.4621C63.7177 43.7241 63.5664 43.893 63.2345 43.893H62.6522V43.0312ZM64.8833 44.7606C65.0114 45.4651 65.5937 45.8785 66.4496 45.8785C67.2299 45.8785 67.8471 45.4593 67.8471 44.7256C67.8471 44.1725 67.5094 43.8406 66.898 43.695L66.1993 43.532C66.0129 43.4912 65.9023 43.4038 65.9023 43.2466C65.9023 43.0487 66.0828 42.9322 66.3507 42.9322C66.6593 42.9322 66.8223 43.0836 66.898 43.2816H67.8122C67.7132 42.6644 67.2183 42.1869 66.3448 42.1869C65.5529 42.1869 64.9707 42.6469 64.9707 43.3456C64.9707 43.9512 65.3666 44.2249 65.8907 44.3413L66.5777 44.4869C66.8048 44.5393 66.9155 44.615 66.9155 44.7839C66.9155 45.0051 66.7175 45.1274 66.4322 45.1274C66.141 45.1274 65.9314 45.0051 65.8557 44.7606H64.8833ZM68.2486 42.2451V45.8203H70.8048V45.0109H69.1686V44.3937H70.665V43.6076H69.1686V43.0487H70.8048V42.2451H68.2486Z"
                          fill="#0E080A" />
                      <path
                          d="M49.3078 49.6968C49.3078 50.7798 50.024 51.5426 51.0255 51.5426C51.9164 51.5426 52.4405 51.0127 52.5686 50.2791H51.6369C51.5437 50.5469 51.3516 50.7216 51.0255 50.7216C50.5306 50.7216 50.2511 50.2791 50.2511 49.6968C50.2511 49.1087 50.5306 48.672 51.0255 48.672C51.3516 48.672 51.5437 48.8466 51.6369 49.1087H52.5686C52.4405 48.3808 51.9164 47.8509 51.0255 47.8509C50.024 47.8509 49.3078 48.6137 49.3078 49.6968ZM53.9493 47.9092L52.5868 51.4844H53.5126L53.763 50.7915H55.0614L55.3176 51.4844H56.2668L54.9042 47.9092H53.9493ZM54.4151 49.0155L54.782 50.0229H54.0483L54.4151 49.0155ZM58.8025 51.4844L59.542 49.3591V51.4844H60.4212V47.9092H59.2858L58.5055 50.1335L57.7195 47.9092H56.5782V51.4844H57.4516V49.3591L58.1969 51.4844H58.8025ZM63.2043 49.6385C63.4663 49.5454 63.6817 49.2659 63.6817 48.8816C63.6817 48.2411 63.2334 47.9092 62.4881 47.9092H60.9567V51.4844H62.5987C63.344 51.4844 63.7865 51.1292 63.7865 50.4829C63.7865 50.0811 63.542 49.7492 63.2043 49.6385ZM61.8476 49.3241V48.6778H62.3833C62.6569 48.6778 62.8025 48.7768 62.8025 48.998C62.8025 49.2193 62.6569 49.3241 62.3833 49.3241H61.8476ZM61.8476 50.0229H62.4764C62.7384 50.0229 62.884 50.1568 62.884 50.3722C62.884 50.576 62.7384 50.7158 62.4764 50.7158H61.8476V50.0229ZM64.1979 47.9092V51.4844H66.7541V50.675H65.1179V50.0578H66.6143V49.2717H65.1179V48.7127H66.7541V47.9092H64.1979ZM68.4692 50.3023L69.2145 51.4844H70.251L69.4125 50.2034C69.8492 50.0403 70.1229 49.6677 70.1229 49.1261C70.1229 48.3459 69.593 47.9092 68.8244 47.9092H67.2173V51.4844H68.1431V50.3023H68.4692ZM68.1431 48.6953H68.7254C69.0573 48.6953 69.2087 48.8641 69.2087 49.1261C69.2087 49.3882 69.0573 49.557 68.7254 49.557H68.1431V48.6953Z"
                          fill="#0E080A" />
                      <path d="M35.8879 33.3984H34.9141L35.3991 30.4922L35.8879 33.3984Z" fill="#0E080A" />
                      <path d="M35.3984 32.1562V38.6284" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M48.3059 33.3984H47.3359L47.8209 30.4922L48.3059 33.3984Z" fill="#0E080A" />
                      <path d="M47.8203 32.1562V38.6284" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M44.7626 39.7109H41.8831H43.7162H38.3125" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M44.7578 40.1953V39.2266L47.6678 39.7109L44.7578 40.1953Z" fill="#0E080A" />
                      <path d="M38.3084 40.1953V39.2266L35.3984 39.7109L38.3084 40.1953Z" fill="#0E080A" />
                      <path d="M41.6406 39.7109V46.37H46.4257" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M33.7625 17.0516V10.7244H6.3125V7.08594" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M33.2031 16.9219L34.3526 16.9371L33.7339 20.3811L33.2031 16.9219Z" fill="#0E080A" />
                      <path
                          d="M3.68943 35.1123H2.7869V37.0804L1.40689 35.1123H0.533474V38.6875H1.43601V36.5971L2.93247 38.6875H3.68943V35.1123ZM7.57784 36.8999C7.57784 35.8285 6.86163 35.0541 5.82517 35.0541C4.79454 35.0541 4.08415 35.8285 4.08415 36.8999C4.08415 37.9655 4.79454 38.7457 5.82517 38.7457C6.86163 38.7457 7.57784 37.9655 7.57784 36.8999ZM6.63454 36.8999C6.63454 37.5171 6.30846 37.9247 5.82517 37.9247C5.34188 37.9247 5.02745 37.5171 5.02745 36.8999C5.02745 36.2827 5.34188 35.8751 5.82517 35.8751C6.30846 35.8751 6.63454 36.2827 6.63454 36.8999ZM7.76753 37.6278C7.89563 38.3323 8.47791 38.7457 9.33387 38.7457C10.1141 38.7457 10.7313 38.3265 10.7313 37.5928C10.7313 37.0396 10.3936 36.7077 9.78222 36.5622L9.08348 36.3991C8.89716 36.3584 8.78652 36.271 8.78652 36.1138C8.78652 35.9158 8.96703 35.7994 9.23488 35.7994C9.54349 35.7994 9.70652 35.9508 9.78222 36.1488H10.6964C10.5974 35.5315 10.1025 35.0541 9.22905 35.0541C8.43715 35.0541 7.85487 35.5141 7.85487 36.2128C7.85487 36.8184 8.25082 37.0921 8.77488 37.2085L9.46197 37.3541C9.68906 37.4065 9.79969 37.4822 9.79969 37.651C9.79969 37.8723 9.60171 37.9946 9.3164 37.9946C9.02526 37.9946 8.81564 37.8723 8.73994 37.6278H7.76753ZM11.1328 35.1123V38.6875H13.689V37.8781H12.0528V37.2609H13.5493V36.4748H12.0528V35.9158H13.689V35.1123H11.1328Z"
                          fill="#0E080A" />
                      <path
                          d="M304.741 35.9158H305.842V38.6875H306.779V35.9158H307.886V35.1123H304.741V35.9158ZM309.019 35.1123L307.657 38.6875H308.583L308.833 37.9946H310.131L310.388 38.6875H311.337L309.974 35.1123H309.019ZM309.485 36.2186L309.852 37.226H309.118L309.485 36.2186ZM312.586 35.1123H311.648V38.6875H312.586V35.1123ZM313.121 38.6875H315.66V37.8781H314.058V35.1123H313.121V38.6875Z"
                          fill="#0E080A" />
                      <path
                          d="M8.44558 1.4248L7.47317 3.52683L7.38 1.4248H6.45418L6.68127 5H7.5314L8.50963 2.90379L8.64937 5H9.4995L11.1532 1.4248H10.1982L9.28406 3.52683L9.15596 1.4248H8.44558ZM12.4291 1.4248L10.4028 5H11.3345L11.7188 4.30709H13.0231L13.1512 5H14.077L13.3841 1.4248H12.4291ZM12.7086 2.53113L12.8891 3.53848H12.1438L12.7086 2.53113ZM17.3348 1.4248L17.096 2.78151H15.716L15.9548 1.4248H15.0173L14.3884 5H15.3259L15.5763 3.58506H16.9563L16.7059 5H17.6434L18.2722 1.4248H17.3348ZM18.3094 3.85873H19.7127L19.8467 3.09012H18.4434L18.3094 3.85873ZM21.7538 3.88784C22.5981 3.88784 23.2793 3.38126 23.2793 2.47873C23.2793 1.79746 22.8368 1.4248 22.109 1.4248H20.6183L19.9895 5H20.9153L21.1074 3.88784H21.7538ZM21.4044 2.21088H21.9343C22.2371 2.21088 22.3652 2.35645 22.3652 2.57771C22.3652 2.90379 22.1497 3.10759 21.7945 3.10759H21.253L21.4044 2.21088ZM25.0527 4.23721C24.6276 4.23721 24.3597 3.89367 24.3597 3.41038C24.3597 2.65341 24.7615 2.18759 25.2856 2.18759C25.7106 2.18759 25.9785 2.53113 25.9785 3.01442C25.9785 3.77139 25.5709 4.23721 25.0527 4.23721ZM25.0235 5.05823C26.0891 5.05823 26.9218 4.18481 26.9218 2.99113C26.9218 2.04202 26.3046 1.36657 25.3147 1.36657C24.2491 1.36657 23.4165 2.23999 23.4165 3.43367C23.4165 4.38278 24.0337 5.05823 25.0235 5.05823ZM29.2803 1.4248L28.3079 3.52683L28.2147 1.4248H27.2889L27.516 5H28.3661L29.3443 2.90379L29.4841 5H30.3342L31.9879 1.4248H31.033L30.1188 3.52683L29.9907 1.4248H29.2803ZM31.9661 3.8005H32.6707L33.3054 1.4248H32.1991L31.9661 3.8005ZM31.675 4.52253C31.675 4.81949 31.9137 5.04076 32.2165 5.04076C32.5193 5.04076 32.758 4.81949 32.758 4.52253C32.758 4.23139 32.5193 4.01012 32.2165 4.01012C31.9137 4.01012 31.675 4.23139 31.675 4.52253ZM35.1539 5L35.3751 3.73645H36.8366L36.9764 2.94455H35.5149L35.6372 2.23417H37.2268L37.3723 1.4248H34.8569L34.228 5H35.1539ZM37.1849 5H39.7295L39.8692 4.19063H38.2621L38.7513 1.4248H37.8138L37.1849 5ZM41.9583 1.4248L39.9319 5H40.8636L41.2479 4.30709H42.5522L42.6803 5H43.6061L42.9132 1.4248H41.9583ZM42.2378 2.53113L42.4183 3.53848H41.6729L42.2378 2.53113ZM43.8685 2.22835H44.969L44.4798 5H45.4173L45.9064 2.22835H47.0069L47.1525 1.4248H44.0082L43.8685 2.22835ZM49.6463 1.4248H48.7088L48.0799 5H49.0174L49.1921 4.01595L49.5939 3.61417L50.2693 5H51.3291L50.3741 3.0086L51.923 1.4248H50.7934L49.3901 2.88632L49.6463 1.4248ZM53.2059 1.4248H52.2684L51.6396 5H52.577L53.2059 1.4248ZM53.2754 3.43367C53.2754 4.38861 53.9042 5.05823 54.8825 5.05823C55.7559 5.05823 56.2741 4.52835 56.507 3.79468H55.5696C55.4415 4.07417 55.2202 4.23721 54.9116 4.23721C54.4865 4.23721 54.2187 3.90531 54.2187 3.41038C54.2187 2.69999 54.5797 2.18759 55.1328 2.18759C55.4473 2.18759 55.6394 2.36227 55.686 2.6243H56.6177C56.5711 1.89645 56.0528 1.36657 55.1678 1.36657C54.0614 1.36657 53.2754 2.29822 53.2754 3.43367ZM58.2156 1.4248H57.2781L56.6492 5H57.5867L57.7614 4.01595L58.1632 3.61417L58.8386 5H59.8984L58.9434 3.0086L60.4923 1.4248H59.3627L57.9594 2.88632L58.2156 1.4248ZM61.7065 2.22835H62.807L62.3179 5H63.2553L63.7445 2.22835H64.845L64.9905 1.4248H61.8462L61.7065 2.22835ZM65.3811 1.4248L64.7522 5H67.3143L67.454 4.19063H65.8178L65.9226 3.57341H67.4191L67.553 2.78734H66.0624L66.1614 2.22835H67.8034L67.9431 1.4248H65.3811ZM67.9347 3.43367C67.9347 4.38861 68.5636 5.05823 69.5418 5.05823C70.4152 5.05823 70.9335 4.52835 71.1664 3.79468H70.2289C70.1008 4.07417 69.8795 4.23721 69.5709 4.23721C69.1459 4.23721 68.878 3.90531 68.878 3.41038C68.878 2.69999 69.239 2.18759 69.7922 2.18759C70.1066 2.18759 70.2988 2.36227 70.3454 2.6243H71.277C71.2304 1.89645 70.7122 1.36657 69.8271 1.36657C68.7208 1.36657 67.9347 2.29822 67.9347 3.43367ZM74.2549 1.4248L74.0162 2.78151H72.6362L72.8749 1.4248H71.9375L71.3086 5H72.2461L72.4964 3.58506H73.8764L73.6261 5H74.5635L75.1924 1.4248H74.2549ZM78.8689 1.4248H77.9663L77.6053 3.45696L76.563 1.4248H75.7245L75.0957 5H75.9982L76.3767 2.84556L77.518 5H78.24L78.8689 1.4248ZM80.5683 4.23721C80.1432 4.23721 79.8754 3.89367 79.8754 3.41038C79.8754 2.65341 80.2772 2.18759 80.8012 2.18759C81.2263 2.18759 81.4941 2.53113 81.4941 3.01442C81.4941 3.77139 81.0865 4.23721 80.5683 4.23721ZM80.5392 5.05823C81.6048 5.05823 82.4374 4.18481 82.4374 2.99113C82.4374 2.04202 81.8202 1.36657 80.8303 1.36657C79.7648 1.36657 78.9321 2.23999 78.9321 3.43367C78.9321 4.38278 79.5493 5.05823 80.5392 5.05823ZM82.5107 5H85.0552L85.195 4.19063H83.5879L84.077 1.4248H83.1395L82.5107 5ZM87.1076 4.23721C86.6825 4.23721 86.4147 3.89367 86.4147 3.41038C86.4147 2.65341 86.8164 2.18759 87.3405 2.18759C87.7656 2.18759 88.0334 2.53113 88.0334 3.01442C88.0334 3.77139 87.6258 4.23721 87.1076 4.23721ZM87.0785 5.05823C88.144 5.05823 88.9767 4.18481 88.9767 2.99113C88.9767 2.04202 88.3595 1.36657 87.3696 1.36657C86.304 1.36657 85.4714 2.23999 85.4714 3.43367C85.4714 4.38278 86.0886 5.05823 87.0785 5.05823ZM90.8546 5.05823C91.7455 5.05823 92.4035 4.45266 92.549 3.5967L92.6364 3.09012H91.1574L91.0351 3.78886H91.5766C91.4776 4.05088 91.2156 4.23721 90.8837 4.23721C90.4412 4.23721 90.1733 3.90531 90.1733 3.41038C90.1733 2.69999 90.5402 2.18759 91.0992 2.18759C91.4194 2.18759 91.6232 2.35645 91.6756 2.61847H92.6073C92.5549 1.89645 92.025 1.36657 91.1283 1.36657C90.0219 1.36657 89.23 2.29822 89.23 3.43367C89.23 4.38861 89.8589 5.05823 90.8546 5.05823ZM94.24 2.82227L93.7334 1.4248H92.761L93.6286 3.73063L93.4073 5H94.3448L94.5661 3.73063L96.2605 1.4248H95.2415L94.24 2.82227ZM95.4171 4.49342C95.4171 4.80202 95.6559 5.04076 95.9528 5.04076C96.2556 5.04076 96.4943 4.80202 96.4943 4.49342C96.4943 4.18481 96.2556 3.9519 95.9528 3.9519C95.6559 3.9519 95.4171 4.18481 95.4171 4.49342Z"
                          fill="#0E080A" />
                      <path
                          d="M289.215 -0.739263L288.243 1.36277L288.15 -0.739263H287.224L287.451 2.83594H288.301L289.279 0.739729L289.419 2.83594H290.269L291.923 -0.739263H290.968L290.054 1.36277L289.925 -0.739263H289.215ZM293.199 -0.739263L291.172 2.83594H292.104L292.488 2.14302H293.793L293.921 2.83594H294.847L294.154 -0.739263H293.199ZM293.478 0.367069L293.659 1.37441H292.913L293.478 0.367069ZM298.104 -0.739263L297.866 0.61745H296.486L296.724 -0.739263H295.787L295.158 2.83594H296.095L296.346 1.421H297.726L297.475 2.83594H298.413L299.042 -0.739263H298.104ZM299.079 1.69467H300.482L300.616 0.926059H299.213L299.079 1.69467ZM302.523 1.72378C303.368 1.72378 304.049 1.2172 304.049 0.314664C304.049 -0.366603 303.606 -0.739263 302.878 -0.739263H301.388L300.759 2.83594H301.685L301.877 1.72378H302.523ZM302.174 0.0468154H302.704C303.007 0.0468154 303.135 0.192385 303.135 0.413652C303.135 0.739729 302.919 0.943527 302.564 0.943527H302.023L302.174 0.0468154ZM305.822 2.07315C305.397 2.07315 305.129 1.72961 305.129 1.24631C305.129 0.489348 305.531 0.0235243 306.055 0.0235243C306.48 0.0235243 306.748 0.367069 306.748 0.850362C306.748 1.60733 306.34 2.07315 305.822 2.07315ZM305.793 2.89417C306.859 2.89417 307.691 2.02075 307.691 0.827071C307.691 -0.122046 307.074 -0.797491 306.084 -0.797491C305.019 -0.797491 304.186 0.0759293 304.186 1.2696C304.186 2.21872 304.803 2.89417 305.793 2.89417ZM310.05 -0.739263L309.077 1.36277L308.984 -0.739263H308.058L308.286 2.83594H309.136L310.114 0.739729L310.254 2.83594H311.104L312.757 -0.739263H311.802L310.888 1.36277L310.76 -0.739263H310.05ZM312.736 1.63644H313.44L314.075 -0.739263H312.969L312.736 1.63644ZM312.445 2.35847C312.445 2.65543 312.683 2.8767 312.986 2.8767C313.289 2.8767 313.528 2.65543 313.528 2.35847C313.528 2.06733 313.289 1.84606 312.986 1.84606C312.683 1.84606 312.445 2.06733 312.445 2.35847Z"
                          fill="#0E080A" />
                      <path d="M85.2395 33.3984H84.2695L84.7545 30.4922L85.2395 33.3984Z" fill="#0E080A" />
                      <path d="M84.7539 32.1484V37.976" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M235.06 33.3984H234.086L234.575 30.4922L235.06 33.3984Z" fill="#0E080A" />
                      <path d="M234.574 32.1562V37.9839" stroke="#0E080A" stroke-width="0.512908"
                          stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_447_4418">
                          <rect width="317" height="55" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
          </div>
      </div>
      <div class="c-product-tech__video"></div>
  </div>
</main>