<div class="section-login">

    {% form 'login' %}

    {% endform %}

</div>

{% schema %}
  {
    "name": "Login Order Status",
    "tag": "section",
    "class": "shopify-section--order-status-login three-quarter",
    "presets": [
        {
            "name": "Login Order Status"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}
