<link rel="stylesheet" href="{{ 'page-pro-program-application.css' | asset_url }}" type="text/css">

<div class="pro-program-application">
  <div class="ub-application">
    <div class="ub-application__wrapper">
      <div class="u-container u-p-inline">
        <div class="c-intro">
          <span class="o-text nocase">Pro Program</span>
          <span class="c-text is-3">
            To apply for the CAPiTA Pro Program fully read the program rules<br/>and regulations and completely fill out the form below.</span>
        </div>
      </div>
      <div class="u-bg-off-white">
        <div class="ub-application__content u-container u-p-inline u-p-block">
          <span class="c-text is-4-big">Rules and Regulations:</span>
          <div class="c-text is-4">
            <ul>
              <li>An active supporting document such as a pay stub, proof of employment, licenses/certification, or other is a requirement for our pro program. Name and employer must be visible, sensitive information can be hidden. There are no exceptions to this rule.</li>
              <li>Products purchased through the CAPiTA Pro Program are for personal use only. Violators found to be reselling or redistributing CAPiTA products will be removed from the program permanently.</li>
              <li>Review Requirement: Members are required to leave a full review directly on our product page for any gear purchased through the Pro Program. Reviews are monitored and mandatory for all purchases. Users who do not leave a review will be ineligible for a Pro account the following year.</li>
              <li>Pro account access resets each season, all members must re-apply annually. If you had a pro account the last time you logged in, but currently do not - you will need to re-apply.</li>
              <li>Your CAPiTA Pro Program membership will allow for 1 discounted order. Your discount will be active after signing in. Discounts are not valid on select products; some exclusions apply. Discount program is subject to change at any time.</li>
              <li>Pro Program discounts may not be combined with any other offer or discount code.</li>
              <li>Please allow for additional shipping time for Pro Program orders. All orders will ship in the order received.</li>
              <li>Taking advantage of program rules and regulations will cause order cancellation and result in a loss of access. This can lead to loss of access for your entire shop/organization.</li>
            </ul>
          </div>
        </div>
      </div>

      <form data-cf-form="{{ section.settings.pro_form }}" class="ub-application__form-section u-container u-p-inline"></form>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "ProProgram Application",
  "settings": [
    {
      "type": "text",
      "id": "pro_form",
      "label": "Pro Form Resgistration",
      "info": "Example: OLtdR4"
    }
  ],
  "presets": [
    {
      "name": "ProProgram Application"
    }
  ]
}
{% endschema %}


{% style %}

.pro-program-application {
  margin-top: 80px;
}

.cf-field input, .cf-field select, .cf-field textarea {
    border: 1px solid #000 !important;
}

li {
  list-style: disc;
  margin-bottom: 20px;
}

.cf-field input[type=text], .cf-field input[type=email], .cf-field input[type=number], .cf-field input[type=tel], .cf-field input[type=password], .cf-field textarea,
.ub-application button, .ub-application input, .ub-application optgroup, .ub-application select, .ub-application textarea {
    width: 100%;
    padding-inline: 10px;
    border: 1px solid var(--color-border);
    border-radius: 0;
    background-color: transparent;
    color: var(--color-text);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.cf-field[data-cf-field-type=divider] hr {
    margin: 50px 0 !important;
}
button.cf-submit-form.cf-button.btn.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 21px;
    border-radius: 9999px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.01em;
    line-height: .7;
    text-transform: uppercase;
    gap: 8px;
    min-width: 340px;
    cursor: pointer;
    text-decoration: none;
}
.cf-form-step {
    font-size: initial;
}
.pro-program-application ul {
    margin: 0 20px;
}
.cf-field.privacy-box {
  justify-content: center;
}
.cf-field-error-list {
    display: none !important;
}
.cf-step-invalid {
    text-align: center;
}
span.cf-error-message-header {
    font-weight: normal;
}
{% endstyle %}