{% if section.settings.black_style == "yes" %}
    {% assign style_black = "background-color:#000;color:#fff;" %}
{% else %}
    {% assign style_black = "" %}
{% endif %}

<div class="section-paragraph" style="background-image:url({{ section.settings.background_image | img_url: 'master' }}); {{style_black}}">
    <div class="paragraph-content">
        <div class="paragraph-content__text">
            {{ section.settings.text }}
        </div>
        <img class="paragraph-content__image" src="{{ section.settings.image | img_url: 'master' }}" alt="capita">
    </div>
</div>

{% schema %}
  {
    "name": "Paragraph",
    "settings": [
        {
            "type": "select",
            "id": "black_style",
            "label": "Black Style",
            "options": [
                {
                "value": "yes",
                "label": "Yes"
                },
                {
                "value": "no",
                "label": "No"
                }
            ],
            "default": "no"
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Paragraph"
        }
    ]
  }
{% endschema %}


{% stylesheet %}
.section-paragraph {
    padding: 60px 20px;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}
.paragraph-content {
    text-align: center;
}
.paragraph-content__text {
    line-height: 1;
}
.paragraph-content__text p {
    margin: 0;
    display: block;
    font-size: 60px;
}
.paragraph-content__image {
    margin: 60px auto 0 auto;
}


{% endstylesheet %}
