<div class="section-paragraph-simple">
    <div class="paragraph-simple-content">
        <h2 class="paragraph-simple-content__title strong" style="color: {{ section.settings.text_color }}">{{ section.settings.title }}</h2>
        <div class="paragraph-simple-content__paragraph" style="color: {{ section.settings.text_color }}">{{ section.settings.text }}</div>
    </div>
</div>

{% schema %}
  {
    "name": "Paragraph Simple",
    "settings": [
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#ffffff"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ],
    "presets": [
        {
            "name": "Paragraph Simple"
        }
    ]
  }
{% endschema %}


{% stylesheet %}

.section-paragraph-simple {
    padding: 20px;
}
.paragraph-simple-content {
    text-align: center;
}
.paragraph-simple-content__title {
    font-size: 80px;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}
.paragraph-simple-content__paragraph {
    max-width: 750px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1;
}

@media screen and (max-width: 768px) {
    .paragraph-simple-content__title {
        font-size: 36px;
        margin-top: 20px;
    }
}

{% endstylesheet %}
