{% if recommendations.performed and recommendations.products_count > 0 %}
  <div class="c-related-products js-related-products">
    <div class="u-container">
      <div class="u-content">
        <h2 class="c-related-products__title">related products</h2>
        <div class="c-related-products__slider swiper">
          <div class="swiper-wrapper">

            {% for recommendation in recommendations.products %}
              <div class="swiper-slide">
                <div class="c-product-card">
                  <div class="c-product-card__media">
                    <img src="{{ recommendation.featured_image | image_url: width: 360 }}" alt="Capita Related Product {{ recommendation.title | strip_html }}"/>
                  </div>
                  <div class="c-product-card__info">
                    <span class="c-product-card__name">{{ recommendation.title }}</span>
                    <span class="c-product-card__price">{{ recommendation.price | money_with_currency }}</span>
                  </div>
                </div>
              </div>
            {%- endfor -%}

          </div>
          <div class="c-related-products__scrollbar swiper-scrollbar"></div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}