<div class="py-10 md:py-24 js-timeline">
  <h2 class="px-5 text-center font-bold text-4xl md:text-6xl md:px-32">
    From a backyard art project,<br>
    to a small studio in Portland, OR,<br>
    to the CAPiTA MotherShip™ Factory in Austria.
  </h2>
  <div class="mt-20 px-5 overflow-hidden relative js-timeline-content md:px-32" style="height:400px">
    <div class="absolute bottom-0 z-10 w-full left-0 js-timeline-trigger-container">
      <div class="bg-gradient-to-t from-white h-52"></div>
      <div class="bg-white py-6">
        <button class="grid place-items-center gap-2 mx-auto cursor-pointer js-timeline-open-trigger">
          <svg class="w-12 block" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="83" height="83" rx="41.5" stroke="black" stroke-width="2"></rect>
            <path d="M59.8039 34L42.402 51.402L25 34" stroke="black" stroke-width="2"></path>
          </svg>
          <span class="font-bold">Read more</span>
        </button>
        <button
                            class="hidden place-items-center gap-2 mx-auto cursor-pointer js-timeline-close-trigger"
                        >
                            <svg
                                class="w-12 block -scale-100"
                                viewBox="0 0 85 85"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect
                                    x="1"
                                    y="1"
                                    width="83"
                                    height="83"
                                    rx="41.5"
                                    stroke="black"
                                    stroke-width="2"
                                ></rect>
                                <path
                                    d="M59.8039 34L42.402 51.402L25 34"
                                    stroke="black"
                                    stroke-width="2"
                                ></path></svg
                            ><span class="font-bold">Read less</span>
                        </button>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full top-0 bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2010</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
            <div class="grid gap-2 md:gap-4 lg:w-[40%]">
              <span class="text-xl font-bold md:text-3xl md:mt-1">Early years</span>
              <p class="leading-5 lg:text-lg">
                Corey Smith's return to Truckee, CA from Portland sparked his venture into handcrafting experimental wooden shapes under the moniker Spring Break, blending his love for snowboarding, art, and woodworking.
              </p>
            </div>
            <picture class="lg:w-[60%]">
              <source
                media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2010.png?v=1719927676"
              >
              <img
                class="block w-full"
                src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2010.png?v=1719927676"
                alt=""
              >
            </picture>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full top-0 bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2011</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
            <p class="leading-5 lg:text-lg">
              The <hl>debut Spring Break film</hl> is released, featuring Corey and friends carving through the Tahoe Backcountry on a variety of oversized, handcrafted wooden shapes, showcasing a DIY snowboarding experience that harkens back to the pure and wild early days of snowboarding.
            </p>
          </div>
          <iframe class="w-full aspect-video h-auto" src="https://player.vimeo.com/video/23785497?h=984c29b75c&color=ffffff" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full top-0 bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2012</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
            <p class="leading-5 lg:text-lg">
              Corey and his friends tested the original batch of <hl><strong>Slush Slasher</strong> prototypes</hl> at Mt. Hood, giving birth to a new shape that would soon influence and change snowboard design across our industry.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full top-0 bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2014</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
            <span class="text-xl font-bold md:text-3xl md:mt-1">CAPiTA Production</span>
            <p class="leading-5 lg:text-lg">
              <strong><i>Spring Break</i></strong> launches its <hl>first full production collection in collaboration with CAPiTA</hl>. The Tree Hunter shape has won design awards from Transworld Snowboarding, Snowboarder Magazine, and Snowboard Mag as one of the greatest and best-performing experimental shapes in snowboarding, solidifying its place as an iconic series for years to come.
            </p>
          </div>
          <iframe
            class="w-full aspect-video h-auto"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/MU2fGGyHCF0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
            {% comment %} <div class="grid gap-2 md:gap-4 lg:w-[40%]">

              <p class="leading-5 lg:text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae odit error quia molestiae consequuntur sit
                aperiam expedita autem dolores nemo voluptatibus odio ex, velit cum pariatur blanditiis. Aut, eum
                dolore.
              </p>
            </div> {% endcomment %}
            {% comment %} <picture class="lg:w-[60%]">
              <source
                media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/img.jpg?v=1719324915"
              >
              <img
                class="block w-full"
                src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/img.jpg?v=1719324915"
                alt=""
              >
            </picture> {% endcomment %}
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full  bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2015</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
            <p class="leading-5 lg:text-lg">
              Production commences at The MotherShip™, enabling <strong><i>Spring Break</i></strong> to lean into The MotherShip™’s engineering capabilities, as well as integrate advanced technologies, enhance production quality, and pioneer some of the most progressive and experimental shapes in snowboarding.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full  bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2016</span>
        </div>
        <div class="grid gap-6 md:gap-8">
              <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
                <div class="grid gap-2 md:gap-4 lg:w-[40%]">
                  <p class="leading-5 lg:text-lg">
                <strong><i>Spring Break</i></strong> introduces the first production model of the iconic <hl><strong><i>Slush Slasher</i></strong> series</hl>, the groundbreaking volume-shifted powder ripper that transformed how riders approached both deep snow and groomers.
              </p>
            </div>
            
          <picture class="lg:w-[60%]">
            <source
              media="(min-width: 768px)"
              srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2016.png?v=1719927676"
            >
            <img
              class="block w-full"
              src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2016.png?v=1719927676"
              alt=""
            >
          </picture>
          </div>
        </div>
      </div>
    </div>

    
    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full  bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2018</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
            <div class="grid gap-2 md:gap-4 lg:w-[40%]">
              <p class="leading-5 lg:text-lg">
                    <hl><strong><i>Spring Break</i></strong> Ultralight Displacement Snowcraft series</hl> wins ISPO Product of the Year Award and Digital Trends Innovation Award for its introduction of the FUS3D™ core and sidewall technology.
              </p>
            </div>
          
          <picture class="lg:w-[60%]">
            <source
              media="(min-width: 768px)"
              srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2ECD8BFE-E487-4EDD-A9E6-9FBAE25B7FD5.jpg?v=1723040985"
            >
            <img
              class="block w-full aspect-[965/680] object-contain object-left"
              src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2ECD8BFE-E487-4EDD-A9E6-9FBAE25B7FD5.jpg?v=1723040985"
              alt=""
            >
          </picture>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2020</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">

            <p class="leading-5 lg:text-lg">
              Originally a sought after, experimental shape in the Ultralight collection, the <hl><strong><i>Powder Racer</i></strong></hl> is offered in a more accessible production package becoming the ultimate series for floating through Deep Paradise™ and carving around your local resort.
            </p>
          </div>
          <iframe
            class="w-full aspect-video h-auto"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/yuC-fh9AFLU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>


    <div class="border-l pb-6 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2021</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">

            <p class="leading-5 lg:text-lg">
              <strong><i>Spring Break</i></strong> launches the <hl><strong><i>Powder Twin</i></strong></hl>, an all-new series with a unique twin tip approach to riding deep powder.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="border-l pb-48 pl-6 relative">
      <div class="relative grid gap-4 items-start md:flex md:gap-14 md:items-start">
        <div class="relative">
          <span
            class="block w-2 aspect-square absolute rounded-full bg-gray-400 -left-7 top-1/2 -translate-y-1/2"
          ></span
          ><span class="text-3xl font-bold md:text-4xl">2023</span>
        </div>
        <div class="grid gap-6 md:gap-8">
          <div class="grid gap-2 md:gap-4">
              <div class="grid gap-6 lg:flex lg:gap-12 lg:items-start">
                <div class="grid gap-2 md:gap-4 lg:w-[40%]">
                  <p class="leading-5 lg:text-lg">
                The <strong><i>Spring Break <hl>Resort Twin</hl></i></strong> is revealed, offering an all-new option for fans seeking the distinctive vibe of Spring Break to navigate freestyle and park terrain at their local resort.
                    
              </p>
            </div>
          <picture class="lg:w-[60%]">
            <source
              media="(min-width: 768px)"
              srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2023.png?v=1719927677"
            >
            <img
              class="block w-full"
              src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/2023.png?v=1719927677"
              alt=""
            >
          </picture>
        </div></div>
      </div>
    </div>


  </div>
</div>

<style>
html {
  font-size: 16px;
}
</style>

{% style %}
h2.font-bold.text-5xl.md\:text-7xl.lg\:w-8\/12 {
    font-size: 52px;
    margin-bottom: 30px;
    width: 100%;
    @media screen and (max-width: 991px) {
      font-size: 26px;
    }
}
p.lg\:text-lg {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  @media screen and (max-width: 991px) {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 50px;
  }
}
{% endstyle %}

{% schema %}
  {
    "name": "Springbreak Module 2",
    "presets": [
        {
            "name": "Springbreak Module 2"
        }
    ]
  }
{% endschema %}