<div class="px-5 py-10 md:px-32 md:py-24">

  <div class="mt-12 grid gap-6 lg:flex lg:gap-28 lg:flex-row-reverse">
    <picture class="lg:w-[60%]">
      <source
        media="(min-width: 768px)"
        srcset="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/img.jpg?v=1719324915"
      >
      <img
        class="block w-full"
        src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/img.jpg?v=1719324915"
        alt=""
      >
    </picture>
    <div class="leading-5 lg:w-[40%] ">
        <h2 class="font-bold text-5xl md:text-7xl lg:w-8/12">Conceptualized in 2010 by Corey Smith & friends.</h2>
        <p class="lg:text-lg">
          <strong><i>Spring Break Snowboards</i></strong> was conceptualized in 2010 by artist/snowboarder Corey Smith and friends. Our vision was to create an art project in the form of a <hl>fictional snowboard company with zero creative boundaries</hl>. At the height of homogenized twin-tip snowboard design, Spring Break set out to deconstruct modern snowboarding and re-introduce the beauty of the sport through its surf-style roots. The focus was to find grace in simply turning a snowboard and exploring the mountain from an entirely different perspective.
        </p>
    </div>
  </div>
  <img
    class="mx-auto w-16 lg:w-2/12 lg:max-w-28 lg:-mt-16"
    src="https://cdn.shopify.com/s/files/1/0231/7366/0752/files/sb-scroll.jpg?v=1719324914"
    alt=""
  >
</div>


{% schema %}
  {
    "name": "Springbreak Module 1",
    "presets": [
        {
            "name": "Springbreak Module 1"
        }
    ]
  }
{% endschema %}
