<div class="warranty-claim-s1">
    <div class="u-container">
        <div class="u-content">
            
        </div>
    </div>
</div>


{% schema %}
{
"name": "Warranty Claim S1",
"presets": [
    {
        "name": "Warranty Claim S1"
    }
]
}
{% endschema %}

{% stylesheet %}


{% endstylesheet %}


{% javascript %}

    (function() {

        let selectors = {
        videoModalYT: '.modal-youtube',

        };

        let videoModalYT = document.querySelector(selectors.videoModalYT);

    })


{% endjavascript %}