<div class="warranty-claim-s1">
    
    <div class="u-container">
        <div class="u-content">
            <h1 class="o-text is-2">WARRANTY CLAIM</h1>
            <div class="claim-country">
                <h5 class="o-text is-5">YOUR COUNTRY</h5>
                <div class="claim-country__select">
                    <select class="select-country">
                        <option>SELECT</option>
                        <option value="US/CANADA">US/CANADA</option>
                        <option value="EUROPE">EUROPE</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </div>
            </div>  
            <div class="claim-form hide">
                <div style="margin:0 auto;" class="pxFormGenerator" id="{{ section.settings.form_warranty }}"></div>
            </div>  

            <div class="claim-form-eu-step hide">
                <p>Did you purchase the board through <strong>eu.capitasnowboarding.com</strong>?</p>
                <div class="btn-group">
                    <button class="o-btn js-step2" data-btn="no">No</button>
                    <button class="o-btn js-step2 btn-white" data-btn="yes">Yes</button>
                </div>
            </div>  

            <div class="claim-form-eu-step-retailer hide">
                <p>If you purchased your CAPiTA snowboard through any retail location - online or in-person, please contact the retailer or bring your board back to the location for inspection and warranty claim processing.</p>
            </div> 

            <div class="claim-form-others-paragraph hide">
                <p>All warranty requests in this territory are handled by our Authorized CAPiTA dealers and distributor. 
                Please bring your snowboard for warranty claim to the shop of original purchase for inspection, 
                OR contact our distributor in this territory direclty at:</p>
            </div> 
            

        </div>
    </div>
</div>




{% schema %}
{
    "name": "Warranty Claim S1",
    "settings": [
        {
            "type": "text",
            "id": "form_warranty",
            "label": "ID code form warranty",
            "info": "Example: 88sdrr-Y0W493EPXOxapXX"
        }
    ],
    "presets": [
        {
            "name": "Warranty Claim S1"
        }
    ]
}
{% endschema %}

{% style %}

.hide {
    display: none;
}
.template-warranty-claim {
    padding: 160px 0;
}
h1 {
    text-align: center;
}
.claim-form {
    margin: 60px 0;
}
.claim-country {
    margin: 60px auto;
    max-width: 600px;
}
select.select-country {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid;
    border-radius: 30px;
    margin-top: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDEyTDEzIDE5TDcgMTIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==);
}
.template-warranty-claim .container.distributors {
    display:none;
}
.template-warranty-claim .container.distributors.show {
    display:block;
}
.template-warranty-claim .warranty-na-canada,
.template-warranty-claim .warranty-europe-me .distributors__card
{
    display: none;
}
.template-warranty-claim .warranty-europe-me .distributors__card.show-warranty-others {
    display:block;
}
.template-warranty-claim .warranty-title-europe {
    display: none;
}
.shopify-section--distributors {
    margin: 0 auto;
}
.claim-form-others-paragraph {
    text-align: center;
    margin: 60px auto;
    max-width: 600px;
    padding: 0 20px;
}
.claim-form-eu-step {
    text-align: center;
    margin: 60px 0;
}
.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
button.o-btn {
    margin: 0 10px;
    background: #000;
    color: #fff;
    margin-top: 40px;
    border: 1px solid #000;
}
button.o-btn.btn-white {
    background: #fff;
    color: #000;
}

{% endstyle %}

 
{% javascript %}

(function() {

        let selectors = {
            selectCountry: '.select-country',
            claimCountry: '.claim-country',
            claimForm: '.claim-form',
            distributors: '.template-warranty-claim .distributors',
            othersParagraph: '.claim-form-others-paragraph',
            claimEuStep: '.claim-form-eu-step',
            btnsStep2Eu: '.js-step2',
            claimEuRetailer: '.claim-form-eu-step-retailer',
        };

        let selectCountry = document.querySelector(selectors.selectCountry);
        let claimCountry = document.querySelector(selectors.claimCountry);
        let claimForm = document.querySelector(selectors.claimForm);
        let distributors = document.querySelector(selectors.distributors);
        let othersParagraph = document.querySelector(selectors.othersParagraph);
        let claimEuStep = document.querySelector(selectors.claimEuStep);
        let btnsStep2Eu = document.querySelectorAll(selectors.btnsStep2Eu);
        let claimEuRetailer = document.querySelector(selectors.claimEuRetailer);

        function warranty_claim_step2() { 
            claimCountry.classList.add("hide")
            claimForm.classList.remove("hide")
        }

        function warranty_claim_eu_pre_step2() { 

            claimCountry.classList.add("hide")
            claimEuStep.classList.remove("hide")

            btnsStep2Eu.foreach(btnStep2Eu, function(){
                btnStep2Eu.addEventListener("click", function(){
                    console.log(this.getAttribute("data-btn"))
                    if (this.getAttribute("data-btn") == "yes") {
                        btnsStep2Eu.classList.add("hide")
                        warranty_claim_step2() 
                    } else {
                        btnsStep2Eu.classList.add("hide")
                        claimEuRetailer.classList.remove("hide")
                    }
                })
            })
        } 


        selectCountry.addEventListener("change", function(){

            if (location.hostname == 'eu.capitasnowboarding.com') {

                if (this.value == "US/CANADA") {
                    window.location.replace("https://capitasnowboarding.com/pages/warranty-claim");
                }
                if (this.value == "OTHER") {
                    distributors.classList.add("show") 
                    othersParagraph.classList.remove("hide") 
                    claimCountry.classList.add("hide") 
                }
                if (this.value == "EUROPE") {
                    warranty_claim_eu_pre_step2()
                }

            } else if (location.hostname == 'capitasnowboarding.com') {

                if (this.value == "EUROPE") {
                    window.location.replace("https://eu.capitasnowboarding.com/pages/warranty-claim");
                }
                if (this.value == "OTHER") {
                    distributors.classList.add("show")
                    othersParagraph.classList.remove("hide") 
                    claimCountry.classList.add("hide") 
                }
                if (this.value == "US/CANADA") {
                    warranty_claim_step2()
                }

            } else {
                // console.log(this.value)
                warranty_claim_step2()
            }

        })

    })();

{% endjavascript %}