<div class="warranty-claim-s1">
    <div class="u-container">
        <div class="u-content">
            <h1 class="o-text is-2">WARRANTY CLAIM</h1>
            <div class="claim-country">
                <h5 class="o-text is-5">YOUR COUNTRY</h5>
                <div class="claim-country__select">
                    <select class="select-country">
                        <option>SELECT</option>
                        <option value="US/CANADA">US/CANADA</option>
                        <option value="EUROPE">EUROPE</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </div>
            </div>  
            <div class="claim-form hide">

                <div style="margin:0 auto;" class="pxFormGenerator" id="{{ section.settings.form_warranty }}"></div>
                
            </div>  
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Warranty Claim S1",
    "settings": [
        {
            "type": "text",
            "id": "form_warranty",
            "label": "ID code form warranty",
            "info": "Example: 88sdrr-Y0W493EPXOxapXX"
        }
    ],
    "presets": [
        {
            "name": "Warranty Claim S1"
        }
    ]
}
{% endschema %}

{% style %}

.hide {
    display: none;
}
.warranty-claim-s1 {
    padding: 140px 0;
}
h1 {
    text-align: center;
}
.claim-form {
    margin: 60px 0;
}
.claim-country {
    margin: 60px 0;
}
select.select-country {
    padding: 10px;
    min-width: 500px;
    border: 1px solid;
    border-radius: 30px;
    margin-top: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAzOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi4wNzg2IDE5LjYzMjhMMTkuOTczNCAxMi4wMzIyQzIwLjIxMjEgMTEuODAyNCAyMC4yMTkzIDExLjQyMjUgMTkuOTg5NSAxMS4xODM4QzE5Ljc1OTcgMTAuOTQ1MSAxOS4zNzk5IDEwLjkzNzkgMTkuMTQxMSAxMS4xNjc3TDEyLjA3ODYgMTcuOTY3MUw1LjAxNjE0IDExLjE2NzdDNC43Nzc0MiAxMC45Mzc5IDQuMzk3NTkgMTAuOTQ1MSA0LjE2Nzc2IDExLjE4MzhDMy45Mzc5NCAxMS40MjI1IDMuOTQ1MTUgMTEuODAyNCA0LjE4Mzg3IDEyLjAzMjJMMTIuMDc4NiAxOS42MzI4WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDEyTDEzIDE5TDcgMTIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==);
}


{% endstyle %}


{% javascript %}

(function() {

        let selectors = {
            selectCountry: '.select-country',
            claimCountry: '.claim-country',
            claimForm: '.claim-form',
        };

        let selectCountry = document.querySelector(selectors.selectCountry);
        let claimCountry = document.querySelector(selectors.claimCountry);
        let claimForm = document.querySelector(selectors.claimForm);

        function warranty_claim_step2() {
            claimCountry.classList.add("hide")
            claimForm.classList.remove("hide")
        }

        selectCountry.addEventListener("change", function(){

            if (location.hostname == 'eu.capitasnowboarding.com') {

                if (this.value == "US/CANADA") {
                    window.location.replace("https://capitasnowboarding.com/pages/warranty-claim");
                }
                if (this.value == "OTHER") {
                    window.location.replace("https://eu.capitasnowboarding.com/pages/distributors-info");
                }
                if (this.value == "EUROPE") {
                    warranty_claim_step2()
                }

            } else if (location.hostname == 'capitasnowboarding.com') {

                if (this.value == "EUROPE") {
                    window.location.replace("https://eu.capitasnowboarding.com/pages/warranty-claim");
                }
                if (this.value == "OTHER") {
                    window.location.replace("https://capitasnowboarding.com/pages/distributors-info");
                }
                if (this.value == "US/CANADA") {
                    warranty_claim_step2()
                }

            } else {
                console.log(this.value)
                warranty_claim_step2()
            }

        })

    })();

{% endjavascript %}