<div class="section-youtube-team">
    {{ page.metafields.team_profile.video_embed }}
</div>

{% schema %}
  {
    "name": "Youtube Team",
    "presets": [
        {
            "name": "Youtube Team"
        }
    ]
  }
{% endschema %}

{% stylesheet %}

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 991px) {

}

{% endstylesheet %}

