/* START GENERAL */
body {
    font-family: 'Calibre-Regular', sans-serif;
}
strong,
.strong {
    font-family: 'Calibre-Bold', sans-serif;
}
.normal {
    font-family: 'Calibre-Regular', sans-serif;
}
.medium {
    font-family: 'Calibre-Semibold', sans-serif;
}
/* END GENERAL */

/* START COMPONENTS */
.box-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* END COMPONENTS */

/* START FIX */
.c-slim-form .c-slim-form__title {
    font-size: 15px;
    text-align: left;
}
.c-slim-form label.c-slim-form__legal {
    line-height: 1;
}
/* END FIX */