/* START GENERAL */
.u-container {
  max-width: 1950px;
  padding: 0 150px;
  @media screen and (max-width: 1600px) {
    max-width: unset;
    padding: 0 50px;
  }
  @media screen and (max-width: 991px) {
    padding: 0;
  }
}
@media screen and (min-width: 100em) {
  .u-content {
      padding-inline: 0;
  }
}
body {
  font-family: "Proximanova", sans-serif;
  font-size: 14px;
  @media screen and (min-width:769px) {
    font-size: 16px;
  }
}
body:has(.c-header.has-dropdown) {
  overflow:hidden;
}
.normal {
  font-family: "Proximanova", sans-serif;
  font-weight: 400;
}
medium,
.medium {
  font-family: "Proximanova", sans-serif;
  font-weight: 500;
}
strong,
.strong {
  font-family: "Proximanova", sans-serif;
  font-weight: 600;
}
.btn {
  font-size: 16px;
  @media screen and (min-width:769px) {
    font-size: 20px;
  }
}
.title {
  font-weight: 600;
  line-height: 1;
  font-size: 26px;
  @media screen and (min-width:769px) {
    font-size: 52px;
  }
}
.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  @media screen and (min-width:769px) {
    font-size: 26px;    
    line-height: 29px;
  }
}
.captions {
  font-size: 10px;
  @media screen and (min-width:769px) {
    font-size: 14px;
  }
}
.c-footer {
  border-top: unset !important;
}
@media screen and (min-width: 75em) {
  .c-footer__content {
      grid-template-columns: minmax(0, 1fr) 352px;
      padding: 0 20px;
  }
}
.footer-info,
.c-footer__legal {
  font-size: 10px;
  @media screen and (min-width:769px) {
    font-size: 12px;
  }
}
.c-step__number,
.o-text.is-1-smaller,
.o-text,
.o-text.is-1,
.o-text.is-2 {
  font-size: 26px;
}
.o-text.is-3 {
  font-size: 16px;
}
.o-text.is-4,
.o-text.is-4.is-regular {
  font-size: 14px;
}
.o-text.is-5 {
  font-size: 16px;
}
.single-card__cta a {
  font-size: 16px;
}
@media screen and (min-width: 64em) {
  .c-step__number,
  .o-text.is-1-smaller,
  .o-text,
  .o-text.is-1,
  .o-text.is-2 {
      font-size: 52px;
  }
  .o-text.is-3 {
      font-size: 26px;
  }
  .o-text.is-4,
  .o-text.is-4.is-regular {
    font-size: 16px;
  }
  .single-card__cta a {
    font-size: 20px;
  }
}
.variant-availability {
  color: red;
  font-size: 16px;
}
strong hl,
i hl {
  padding: 7px 2px 4px;
}

a.o-btn {
  justify-content: space-between;
  padding: 24px 20px;
}
.btn-action:after {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 27px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyNyAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMTc3NzMgMTMuNjc3N0MxLjE3NzczIDIwLjU4MTMgNi43NzQxNyAyNi4xNzc3IDEzLjY3NzcgMjYuMTc3N0MyMC41ODEzIDI2LjE3NzcgMjYuMTc3NyAyMC41ODEzIDI2LjE3NzcgMTMuNjc3N0MyNi4xNzc3IDYuNzc0MTcgMjAuNTgxMyAxLjE3NzczIDEzLjY3NzcgMS4xNzc3M0M2Ljc3NDE3IDEuMTc3NzMgMS4xNzc3MyA2Ljc3NDE3IDEuMTc3NzMgMTMuNjc3N1oiIHN0cm9rZT0iIzBCMDIwNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIvPgo8cGF0aCBkPSJNMTMuNjc3MiA4LjE3NzM3TDEzLjY3NzIgMTkuMTc4MyIgc3Ryb2tlPSIjMEIwMjA0IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTE5LjE3NzcgMTMuNjc3MUw4LjE3Njc2IDEzLjY3NzEiIHN0cm9rZT0iIzBCMDIwNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 27px;
  aspect-ratio: 1 / 1;
}
.btn-action,
.btn-link,
.btn-link.o-btn {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 20px;
  min-width: 360px;
  max-width: 360px;
  border-radius: 25px;
  font-weight: 600;
  align-items: center;
  font-size: 20px;
  @media screen and (max-width: 991px) {
    font-size: 16px;
  }
}
.btn-link:after {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 27px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyNyAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjUgMjZDMjAuNDAzNiAyNiAyNiAyMC40MDM2IDI2IDEzLjVDMjYgNi41OTY0NCAyMC40MDM2IDEgMTMuNSAxQzYuNTk2NDQgMSAxIDYuNTk2NDQgMSAxMy41QzEgMjAuNDAzNiA2LjU5NjQ0IDI2IDEzLjUgMjZaIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+CjxwYXRoIGQ9Ik0xMS4zNTg0IDYuOTIyMzZMMTcuNTkwOCAxMy4xNTQ3QzE3Ljc4NiAxMy4zNSAxNy43ODYgMTMuNjY2NiAxNy41OTA4IDEzLjg2MThMMTEuMzU4NCAyMC4wOTQyIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 27px;
  aspect-ratio: 1 / 1;
}
.btn-green {
  background: #E2FF61 !important;
  color: #000;
}
.btn-black {
  background: #000 !important;
  color: #fff;
}
.btn-white {
  background: #fff !important;
  color: #000;
  border: 1px solid #000;
}
.btn-transp {
  background: transparent !important;
  color: #000;
  border: 1px solid #000;
}
.btn-link.btn-black:after {
  filter: invert(1);
}
a.btn-link.btn-black.btn-finder {
  min-width: unset;
  border: 1px solid #fff;
  margin-bottom: 20px;
}
.breadcrumbs {
  margin-bottom: 20px;
}
.c-product .breadcrumbs {
  margin-bottom: 40px;
}
hl {
  color: #000;
  background: linear-gradient(
    0deg,
    rgba(226, 255, 97, 0) 0%,
    rgba(226, 255, 97, 0) 10%,
    rgba(226, 255, 97, 1) 10%,
    rgba(226, 255, 97, 1) 80%,
    rgba(226, 255, 97, 0) 80%
  );
  padding: 0 2px;
}
bl {
  color: #e2ff61;
}

a:not(.team-boards-content__single):not(.c-menu-item):not(
    .c-header__menu-item
  ):hover,
a:not(.team-boards-content__single):not(.c-menu-item):not(
    .c-header__menu-item
  ):hover
  span,
button:hover:not(.c-header__menu-item),
button:hover:not(.c-header__menu-item) span,
.js-filter-clean:hover {
  text-decoration: underline !important;
}

@media screen and (min-width: 48em) {
  .c-header__top {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .c-header__menu-item {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
/* END GENERAL */

/* START LAYOUT */

.box-width {
  max-width: 1440px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: calc(100% / 3);
}
.col-6 {
  width: 50%;
}
.col-8 {
  width: calc(200% / 3);
}
.col-9 {
  width: 75%;
}
@media screen and (max-width: 768px) {
  .col-3,
  .col-4,
  .col-6,
  .col-8,
  .col-9 {
    width: 100%;
  }
}
.one-quarter {
  width: 25%;
}
.two-quarter {
  width: 50%;
}
.three-quarter {
  width: 75%;
}
.four-quarter {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .one-quarter,
  .two-quarter,
  .three-quarter {
    width: 100%;
  }
}

.padding-inline {
  padding-inline: 20px;
}
@media screen and (min-width: 48em) {
  .padding-inline {
    padding-inline: 70px;
  }
}
@media screen and (min-width: 100em) {
  .padding-inline {
    padding-inline: 155px;
  }
}
.text-white {
  color: #fff;
}

/* END LAYOUT */

/* START TEMPLATES */

main.template-informative,
main.template-contact,
main.template-faq,
main.template-dealers,
main.template-distributors,
main.template-orders,
main.template-shipping,
main.template-returns,
main.template-payments,
main.template-warranty,
main.template-nfc-steps {
  padding: 155px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1440px) {
  main.template-informative,
  main.template-contact,
  main.template-faq,
  main.template-dealers,
  main.template-distributors,
  main.template-orders,
  main.template-shipping,
  main.template-returns,
  main.template-payments,
  main.template-warranty,
  main.template-nfc-steps {
    padding: 70px;
    padding-top: calc(var(--header-bar) + 70px);
  }
}
@media screen and (max-width: 768px) {
  main.template-informative,
  main.template-contact,
  main.template-faq,
  main.template-dealers,
  main.template-distributors,
  main.template-orders,
  main.template-shipping,
  main.template-returns,
  main.template-payments,
  main.template-warranty,
  main.template-nfc-steps {
    padding: 20px;
    padding-top: calc(var(--header-bar) + 20px);
  }
}

/* END TEMPLATES */

/* START MODULES */
/* END MODULES */

/* START COMPONENTS */

/* start buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-family: "Proximanova", sans-serif;
  color: #000;
  line-height: 1;
  font-weight: 500;
}
.btn svg {
  margin-left: 3px;
}

.btn.btn-primary {
  background: #fff;
  color: #000;
  height: 65px;
  border-radius: 30px;
  padding: 21px 20px;
  min-width: 340px;
  border: 1px solid #fff;
  transition-duration: 0.2s;
}
.btn.btn-primary:hover {
  border: 1px solid #000;
}
.btn.btn-primary.focus {
  border: 1px solid #000;
}
.btn.btn-primary.pressed {
  border: 1px solid #000;
  color: #fff;
  background: #000;
}
.btn.btn-primary.black {
  border: 1px solid #000;
  color: #fff;
  background: #000;
}
.btn.btn-primary.black.disabled {
  background: #707070;
  color: #fff;
  pointer-events: none;
  border: 1px solid #707070;
}
.btn.btn-primary.black:hover {
  border: 1px solid #000;
  color: #fff;
  background: #000;
}
.btn.btn-primary.black.pressed {
  color: #000;
  background: #fff;
  border: 1px solid #fff;
}

.o-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 21px;
  border-radius: 9999px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 0.7;
  text-transform: uppercase;
  gap: 8px;
  min-width: 340px;
  cursor: pointer;
  text-decoration: none;
}
.o-btn.is-big {
  border: 1px solid #000;
  font-size: 24px;
  padding-block: 24px;
}

.o-btn.is-black {
  background-color: #000;
  color: #fff;
}

.o-btn.is-big svg {
  filter: invert(1);
}

@media only screen and (max-width: 768px) {
  .o-btn.is-big {
    padding-block: 21px;
    font-size: 18px;
  }
}

.btn.btn-secondary {
  font-size: 28px;
  background: transparent;
  color: #fff;
  height: 65px;
  border-radius: 30px;
  padding: 21px 20px;
  width: 100%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
}
.btn.btn-secondary:hover {
  border: 1px solid #fff;
  color: #000;
  background: #ececec;
}
.btn.btn-secondary.focus {
  border: 1px solid #fff;
  color: #000;
  background: #ececec;
}
.btn.btn-secondary.focus svg {
  filter: invert(1);
}
.btn.btn-secondary.pressed {
  border: 1px solid #000;
  color: #fff;
  background: #000;
}
.btn.btn-secondary.black {
  border: 1px solid #000;
  background: transparent;
  color: #000;
}
.btn.btn-secondary.black svg {
  filter: invert(1);
  margin-top: 1px;
  margin-left: 5px;
}
.btn.btn-secondary.black .icon-arrow-play {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.btn.btn-secondary.black:hover svg {
  filter: invert(0);
}
.btn.btn-secondary.black.disabled {
  background: transparent;
  color: #000;
  pointer-events: none;
  border: 1px solid #707070;
  opacity: 0.5;
}
.btn.btn-secondary.black:hover {
  border: 1px solid #000;
  color: #fff;
  background: #000;
}
.btn.btn-secondary.black.focus {
  border: 1px solid #000;
  color: #fff;
  background: #000;
}
.btn.btn-secondary.black.focus svg {
  filter: invert(0);
}
.btn.btn-secondary.black.pressed {
  border: 1px solid #000;
  color: #fff;
  background: #000;
}
.btn.btn-secondary.black.pressed svg {
  filter: invert(0);
}

.btn.flat {
  height: 44px;
  padding: 11px 20px;
}
.btn.short {
  min-width: unset;
}
.btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
  }
  .btn svg {
    width: 8px;
  }
  .btn.btn-primary,
  .btn.btn-secondary {
    height: 44px;
    padding: 22px 20px;
  }
  .btn.flat {
    height: 44px;
    padding: 13px 20px;
  }
}

/* end buttons */

.box-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* END COMPONENTS */

/* START FIX */
.customer h2.form__message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.customer h2.form__message svg {
  max-width: 40px;
}
.customer .errors {
  text-align: center;
  margin: 0 auto;
  color: red;
  list-style: none;
}
.customer .errors ul {
  list-style: none;
  padding: 0;
}
.section-rich-text p,
.shopify-policy__body p {
  margin-bottom: 10px;
}
.form-message.form-message--success {
  text-align: center;
  color: #45681a;
  font-weight: 500;
}
.c-footer__form span.c-slim-form__title {
  margin-top: 10px;
  font-size: 16px;
  @media screen and (max-width:991px) {
    margin-top: 0;
  }
}
.c-slim-form__title {
  margin-bottom: 8px;
  text-align: left !important;
  display: block;
}
.c-slim-form__input {
  position:relative;
}
.c-slim-form__input:after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  content: "";
  display: block;
  flex-shrink: 0;
  width: 27px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyNyAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjUgMjZDMjAuNDAzNiAyNiAyNiAyMC40MDM2IDI2IDEzLjVDMjYgNi41OTY0NCAyMC40MDM2IDEgMTMuNSAxQzYuNTk2NDQgMSAxIDYuNTk2NDQgMSAxMy41QzEgMjAuNDAzNiA2LjU5NjQ0IDI2IDEzLjUgMjZaIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+CjxwYXRoIGQ9Ik0xMS4zNTg0IDYuOTIyMzZMMTcuNTkwOCAxMy4xNTQ3QzE3Ljc4NiAxMy4zNSAxNy43ODYgMTMuNjY2NiAxNy41OTA4IDEzLjg2MThMMTEuMzU4NCAyMC4wOTQyIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 27px;
  aspect-ratio: 1 / 1;
  opacity: 0.5;
}

.c-slim-form label.c-slim-form__legal {
  line-height: 1;
}
.c-size-chart tr {
  display: flex;
  padding-bottom: 13px;
  padding-top: 13px;
  letter-spacing: -0.01em;
}
.c-size-chart td,
.c-size-chart th {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  width: var(--column-width);
}
.c-size-chart tr:nth-child(odd) {
  background-color: #eee;
}
@media screen and (max-width: 991px) {
  .c-info {
    margin-top: 15px;
  }
}
.c-info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  > img,
  > svg {
    margin: 50px auto;
    min-height: 190px;
  }
}
.c-product-info__size.is-disabled {
  pointer-events: auto;
  opacity: 0.3;
}
.c-listing-product__size.is-disabled {
  opacity: 0.4;
}

.c-info-card a {
  text-decoration: none;
}
a.find-a-shop,
span.all-sold-out {
  display: block;
  font-size: 20px;
  color: #fb3105;
  text-align: center;
  margin: 30px 0 0 0;
  font-family: "Proximanova";
  font-weight: 500;
  border: 1px solid #fb3105;
  padding: 21px 20px;
  border-radius: 30px;
  height: 65px;
  min-width: 340px;
  line-height: 1;
}
.c-product-info__add-to-cart {
  cursor: pointer;
  font-size: 20px;
}
.c-product-info__add-to-cart.all-soldout {
  opacity: 0.5;
}
input.cart-submit.c-header-cart__checkout-btn {
  cursor: pointer;
  text-transform: unset !important;
}
img.c-cart-item__image {
  max-height: 148px;
  min-height: 148px;
  object-fit: contain;
}
.c-product-info__size.js-product-variant.selected {
  background: #000;
  color: #fff !important;
}
span.msg-empty-cart.medium {
  text-align: center;
  display: block;
  color: #fff;
  padding: 100px 0;
}
button.js-add-to-cart.c-product-info__add-to-cart.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.main-page-pdp .u-content.wider,
.main-page-pdp .c-info {
  padding-inline: 20px;
  max-width: 1640px;
  margin: 50px auto;
  @media screen and (max-width:991px) {
    margin: 0 auto;
  }
}
@media screen and (max-width:991px) {


  .c-info-card {
    border: unset;
    border-top: 2px solid #f4f4f4;
    border-radius: unset;
    > svg {
      width: 100%;
      max-width: 280px;
      margin: 0 auto;
    }
  }
  span.c-info-card__learn-more.btn-green,
  span.c-info-card__learn-more {
    margin: 0 auto !important;
    width: 100%;
  }
  .epr-collaps-btn.btn.button {
    width: 100%;
    margin: 0 auto;
    max-width: unset;
  }
  div#mag-product-review {
    margin-top: -10px;
  }
  div#mag-product-review .epr-title {
    border-top: 2px solid #f4f4f4;
    padding-top: 20px;
  }
  div#mag-product-review .epr-review .epr-data {
    padding: 0 !important;
  }
  #mag-product-review .epr-wrapper {
    padding: 0 20px !important;
    .epr-review {
      padding-top: 30px;
    }
  }
  div#mag-product-review .epr-review .epr-data .epr-collaps-btn {
    width: 100%;
    max-width: 100%;
  }
}
.epr-collaps-btn.btn.button {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.epr-collaps-btn.btn.button:after {
  content: '';
  width: 27px;
  height: 27px;
  background-image: url('data:image/svg+xml;utf8,<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 26C20.4036 26 26 20.4036 26 13.5C26 6.59644 20.4036 1 13.5 1C6.59644 1 1 6.59644 1 13.5C1 20.4036 6.59644 26 13.5 26Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10"></path><path d="M8 13.5H19.001" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"></path><path d="M13.5 7.99951V19.0005" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"></path></svg>');
}
.epr-collaps-btn.btn.button {
  height: 57px !important;
}
.pdp-head-image {
  position: relative;
}
.pdp-head-image h1 {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Proximanova", sans-serif;
  font-size: 80px;
  line-height: 1;
}
.pdp-head-image img {
  width: 100%;
  max-height: 650px;
}
.cart-qnt-btn-minus.disable,
.cart-qnt-btn-plus.disabled {
  pointer-events: none;
  opacity: 0.3;
}
span.msg-empty-cart.medium.hide,
.c-header-cart__summary.hide {
  display: none;
}
.c-listing-product__image {
  border: unset !important;
}
.c-listing-product__name a {
  text-decoration: none;
  color: #fff;
}
.main-page {
  max-width: 100%;
}
.c-footer__social a {
  width: 28px;
}
.c-menu-item span:after {
  bottom: 5px;
}
.c-related-products__scrollbar.swiper-scrollbar {
  --swiper-scrollbar-size: 5px;
  background: #888888;
  border: none;
}
input.c-slim-form__email {
  width: 100%;
  border-radius: 26px;
  font-size: 16px;
  padding: 15px 20px;
}
.c-footer__form .c-slim-form__email {
  background: unset;
}
.c-slim-form__legal input {
  border-radius: 60%;
}
.c-footer__form span.c-slim-form__title {
  text-align: center;
}
footer .c-slim-form__title {
  font-size: 14px;
}
footer label.c-slim-form__legal {
  margin-top: 10px;
}
footer label.c-slim-form__legal span {
  line-height: 1;
  font-weight: 500;
}
.c-product-info__sizes .c-product-info__size:hover {
  background-color: #000;
}
.c-product-info__sizes .c-product-info__size.is-disabled:hover {
  @media screen and (max-width: 991px) {
      background-color: unset;
  }
}

span.input-error-message.site_newsletter-error {
  color: red;
  font-size: 12px;
  margin-left: 20px;
}
.c-related-products {
  background-image: url(https://cdn.shopify.com/s/files/1/0231/7366/0752/files/GRID-BACKGROUND_BLACK_COMPRESS.jpg?v=1745924560);
  background-color: #000;
  color: #fff;
  background-position: 94% 11%;
  background-size: 85%;
  background-repeat: repeat;
  @media screen and (max-width: 991px) {
    background-position: 94% 20%;
    background-position: 94% 20%;
    background-size: 230%;
  }
  .u-content {
    padding: 0 20px;
  }
}
.c-related-products a {
  text-decoration: none;
}
.c-related-products__title {
  font-size: 26px;
  text-transform: unset;
  @media screen and (max-width: 991px) {
    font-size: 16px;
  }
}
span.c-product-card__name {
  font-size: 16px;
  text-transform: unset;
}
.c-product-card__info {
  grid-gap: 5px;
}
/* width */
.c-listing-filter__wrapper::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.c-listing-filter__wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.c-listing-filter__wrapper::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
.c-listing-filter__wrapper::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.spr-icon-star-empty:before {
  filter: brightness(0);
}
h1.cart__empty-text {
  margin-top: 80px;
}
.cart__login-title {
  margin: 3.5rem 0 0.5rem;
}
.o-text.is-4 {
  position: relative;
}

@media screen and (min-width: 64em) {
  .c-header__dropdown-panel.c-header-cart.js-header-cart {
    max-height: 60vh;
    overflow-y: auto;
  }
}
@media screen and (max-width: 768px) {
  .pdp-head-image h1 {
    font-size: 36px;
  }
  .pdp-head-image img {
    height: 240px;
    object-fit: cover;
  }
  .c-listing-filter__option input {
    border-radius: 50%;
    height: 23px;
    width: 23px;
  }
  .c-listing-filter {
    z-index: 999;
    position: relative;
  }
}
@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 15rem 0 1rem;
  }
}
@media screen and (min-width: 769px) {
  .section-vertical-nav {
    height: 100%;
    position: relative;
    width: 100%;
  }
  .vertical-nav {
    border: 1px solid #000;
    border-radius: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
    min-width: 17vw;
  }
}

/* END FIX */

/* START LEGALS */

.content-for-layout .shopify-policy__container {
  max-width: 1440px;
  margin: 150px auto;
}

.content-for-layout .shopify-policy__container h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 0.9;
  text-transform: uppercase;
}

.content-for-layout .shopify-policy__container table,
.content-for-layout .shopify-policy__container tr,
.content-for-layout .shopify-policy__container td {
  border: 1px solid;
}

.content-for-layout .shopify-policy__container table {
  width: 100%;
  margin-bottom: 20px;
}
.content-for-layout .shopify-policy__container h2 {
  margin-bottom: 20px;
}

/* END LEGALS */


/* START ACCOUNT */

.shopify-challenge__container {
  max-width: 500px;
  margin: 160px auto;
}
input.shopify-challenge__button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-block: 21px;
  border-radius: 9999px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: .7;
  text-transform: uppercase;
  cursor:pointer;
}
p.shopify-challenge__message {
  margin-bottom: 20px;
}
.template-404.page-width.page-margin.center {
  margin: 200px auto;
  text-align: center;
}
.template-404.page-width.page-margin.center {
  margin: 200px auto;
  text-align: center;
  font-size: 20px;
  color: #000;
}
.template-404.page-width.page-margin.center h1.title {
  margin: 20px 0;
}
.template-404.page-width.page-margin.center a {
  color: #000;
}
.customer.account a {
  color: #000;
}
.customer.account {
  font-size: 20px;
}
.customer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin-top: 30px;
  padding-block: 21px;
  border-radius: 9999px !important;
  background-color: #000 !important;
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
  line-height: .7;
  text-transform: uppercase;
  cursor:pointer;
}
.customer .field input {
  border: 1px solid #000 !important;
  padding: 20px !important;
}
.customer .select {
  position: relative;
}
.customer select {
  border: 1px solid #000 !important;
}
.customer h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
}
.customer.account th,
.customer.account td,
.customer.order th,
.customer.order td {
  border: 1px solid #000;
  padding: 10px;
}
.customer.account th,
.customer.order th  {
  background: #000;
  color: #fff;
  border-right: 1px solid #6f6f6f;
}
table.order-history {
  margin-top: 40px;
}
.order table a {
  color: #000;
}
.order tfoot {
  background: #000;
  color: #fff;
}
.customer tbody td {
  vertical-align: middle !important;
}

/* END ACCOUNT */


main#MainContent {
  background-image: none;
}

.c-product__thumb img {
  object-fit: cover;
  z-index: -71;
  position: relative;
  border-radius: 18px;
}



/* find a store  */
html {
  scroll-behavior: smooth;
}
.c-product-tech__shops {
  position: relative;
  background: #fff;
}
.c-product-tech__shops table td {
  border-color: #000;
  border: 1px solid;
  padding: 5px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .c-product-tech__shops {
    overflow: auto;
  }
  .c-product-tech {
    margin-top: 15px;
  }
}
.c-product-tech .o-text.is-4 {
  font-weight: 500;
}
.c-hexagon .o-text.is-4 {
  font-weight: 600;
}

