.section-hero-banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.section-hero-banner .only-mob {
    display: none;
}


@media screen and (max-width: 768px) {
    .section-hero-banner .only-mob {
        display: block;
    }
    .section-hero-banner .only-desk {
        display: none;
    }
}