body {
    font-family: 'Calibre-Regular', sans-serif;
}
strong,
.strong {
    font-family: 'Calibre-Bold', sans-serif;
}
.normal {
    font-family: 'Calibre-Regular', sans-serif;
}
.medium {
    font-family: 'Calibre-Semibold', sans-serif;
}
