.flex.show-xxxs {
    display: flex !important
}

.show-xxxs {
    display: block !important
}

.hide-xxxs {
    display: none !important
}

@media screen and (min-width: 22.5em) {
    .flex.show-xxs {
        display: flex !important
    }

    .show-xxs {
        display: block !important
    }

    .hide-xxs {
        display: none !important
    }
}

@media screen and (min-width: 26.25em) {
    .flex.show-xs {
        display: flex !important
    }

    .show-xs {
        display: block !important
    }

    .hide-xs {
        display: none !important
    }
}

@media screen and (min-width: 40em) {
    .flex.show-sm {
        display: flex !important
    }

    .show-sm {
        display: block !important
    }

    .hide-sm {
        display: none !important
    }
}

@media screen and (min-width: 46.875em) {
    .flex.show-md {
        display: flex !important
    }

    .show-md {
        display: block !important
    }

    .hide-md {
        display: none !important
    }
}

@media screen and (min-width: 64em) {
    .flex.show-lg {
        display: flex !important
    }

    .show-lg {
        display: block !important
    }

    .hide-lg {
        display: none !important
    }
}

@media screen and (min-width: 75em) {
    .flex.show-xl {
        display: flex !important
    }

    .show-xl {
        display: block !important
    }

    .hide-xl {
        display: none !important
    }
}

@media screen and (min-width: 90em) {
    .flex.show-xxl {
        display: flex !important
    }

    .show-xxl {
        display: block !important
    }

    .hide-xxl {
        display: none !important
    }
}

@media screen and (min-width: 120em) {
    .flex.show-xxxl {
        display: flex !important
    }

    .show-xxxl {
        display: block !important
    }

    .hide-xxxl {
        display: none !important
    }
}

.ub-pro-program {
    font-family: Proximanova, arial, sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    --off-white: #f4f4f4;
    --context-vw: 375;
    --context-vh: 630;
    padding-top: 70px
}

.ub-pro-program *,
.ub-pro-program :before,
.ub-pro-program :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #6a5acd
}

.ub-pro-program hr {
    height: 0;
    color: inherit
}

.ub-pro-program blockquote,
.ub-pro-program dl,
.ub-pro-program dd,
.ub-pro-program h1,
.ub-pro-program h2,
.ub-pro-program h3,
.ub-pro-program h4,
.ub-pro-program h5,
.ub-pro-program h6,
.ub-pro-program hr,
.ub-pro-program figure,
.ub-pro-program p,
.ub-pro-program pre {
    margin: 0
}

.ub-pro-program h1,
.ub-pro-program h2,
.ub-pro-program h3,
.ub-pro-program h4,
.ub-pro-program h5,
.ub-pro-program h6 {
    font-size: inherit;
    font-weight: inherit
}

.ub-pro-program abbr[title] {
    text-decoration: underline dotted
}

.ub-pro-program b,
.ub-pro-program strong {
    font-weight: bolder
}

.ub-pro-program code,
.ub-pro-program kbd,
.ub-pro-program samp,
.ub-pro-program pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 1em
}

.ub-pro-program small {
    font-size: 80%
}

.ub-pro-program sub,
.ub-pro-program sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

.ub-pro-program sub {
    bottom: -.25em
}

.ub-pro-program sup {
    top: -.5em
}

.ub-pro-program table {
    border-color: inherit;
    text-indent: 0
}

.ub-pro-program button,
.ub-pro-program input,
.ub-pro-program optgroup,
.ub-pro-program select,
.ub-pro-program textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15
}

.ub-pro-program button,
.ub-pro-program select {
    text-transform: none
}

.ub-pro-program button,
.ub-pro-program [type=button],
.ub-pro-program [type=reset],
.ub-pro-program [type=submit] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button
}

.ub-pro-program ::-moz-focus-inner {
    padding: 0;
    border-style: none
}

.ub-pro-program :-moz-focusring {
    outline: 1px dotted ButtonText
}

.ub-pro-program :-moz-ui-invalid {
    box-shadow: none
}

.ub-pro-program legend {
    padding: 0
}

.ub-pro-program progress {
    vertical-align: baseline
}

.ub-pro-program ::-webkit-inner-spin-button,
.ub-pro-program ::-webkit-outer-spin-button {
    height: auto
}

.ub-pro-program [type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px
}

.ub-pro-program ::-webkit-search-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.ub-pro-program ::-webkit-file-upload-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font: inherit
}

.ub-pro-program summary {
    display: list-item
}

.ub-pro-program img,
.ub-pro-program svg,
.ub-pro-program video,
.ub-pro-program canvas,
.ub-pro-program audio,
.ub-pro-program iframe,
.ub-pro-program embed,
.ub-pro-program object {
    display: block;
    vertical-align: middle
}

.ub-pro-program img,
.ub-pro-program video {
    max-width: 100%;
    height: auto
}

@media screen and (min-width: 40em) {
    .ub-pro-program {
        --context-vw: 768;
        --context-vh: 1260
    }
}

@media screen and (min-width: 64em) {
    .ub-pro-program {
        --context-vw: 1440;
        --context-vh: 670
    }
}

.ub-pro-program .c-text {
    color: var(--color-text);
    font-size: 44px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal
}

.ub-pro-program .c-text.is-2 {
    font-size: 30px;
    font-weight: 500
}

.ub-pro-program .c-text.is-3 {
    font-size: 16px;
    font-weight: 500;
    @media screen and (max-width: 991px) {
        font-size: 14px;
    }
}

.ub-pro-program .c-text.is-4 {
    color: var(--color-body-text);
    font-size: 16px;
    font-weight: 400
}

.ub-pro-program .c-text.is-4-big {
    color: var(--color-body-text);
    font-size: 21px;
    font-weight: 500
}

.ub-pro-program .c-text.is-4-medium {
    color: var(--color-body-text);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase
}

.ub-pro-program .c-input {
    display: grid;
    grid-gap: 10px
}

.ub-pro-program .c-input input,
.ub-pro-program .c-input select,
.ub-pro-program .c-input textarea {
    width: 100%;
    padding-inline: 10px;
    border: 1px solid var(--color-border);
    border-radius: 0;
    background-color: transparent;
    color: var(--color-text);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.ub-pro-program .c-input input,
.ub-pro-program .c-input select {
    height: 38px
}

.ub-pro-program .c-input select {
    text-align: center
}

.ub-pro-program .c-input__wrapper {
    display: block
}

.ub-pro-program .c-input.is-select .c-input__wrapper {
    position: relative
}

.ub-pro-program .c-input.is-select .c-input__wrapper:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    background-image: var(--svg-select-icon);
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1/1;
    pointer-events: none
}

.ub-pro-program .c-input.is-checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 7px;
    width: fit-content
}

.ub-pro-program .c-input.is-checkbox input {
    width: 14px;
    height: auto;
    margin-top: 2px;
    aspect-ratio: 1/1
}

.ub-pro-program .c-input.is-checkbox input:checked {
    border-color: #000;
    background-color: #000;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E")
}

.ub-pro-program .c-input.is-checkbox .c-text {
    margin-top: 4px
}

.ub-pro-program .c-input.is-file input {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #cbcbcb;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.ub-pro-program .c-input.is-file input::-webkit-file-upload-button,
.ub-pro-program .c-input.is-file input::file-selector-button {
    width: 220px;
    height: 38px;
    margin-right: 15px;
    padding: 0;
    border: 1px solid var(--color-border);
    border-radius: 0;
    background-color: transparent;
    color: var(--color-text);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase
}

.ub-pro-program .c-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    padding: 8px 15px;
    border-radius: 9999px;
    background-color: #383838;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer
}

.ub-pro-program .c-button:hover {
    text-decoration: underline
}

.ub-pro-program .c-button[disabled] {
    opacity: .5;
    pointer-events: none
}

.ub-pro-program .c-button.is-line {
    display: block;
    width: fit-content;
    min-height: auto;
    padding: 0;
    background-color: transparent;
    color: var(--color-body-text);
    font-weight: 400;
    text-decoration: underline;
    text-transform: none
}

.ub-pro-program .c-button.is-line:hover {
    text-decoration: none
}

.ub-pro-program .c-intro {
    display: grid;
    grid-row-gap: 14px;
    max-width: 680px;
    margin-inline: auto;
    text-align: center
}

.ub-pro-program .c-pro-account-login__input {
    margin-top: 45px
}

.ub-pro-program .c-pro-account-login__forgot {
    margin-top: 10px;
    margin-inline: auto
}

.ub-pro-program .c-pro-account-login__signin {
    width: 100%;
    max-width: 350px;
    margin-top: 70px;
    margin-inline: auto
}

.ub-pro-program .flex.show-xxxs {
    display: flex !important
}

.ub-pro-program .show-xxxs {
    display: block !important
}

.ub-pro-program .hide-xxxs {
    display: none !important
}

@media screen and (min-width: 22.5em) {
    .ub-pro-program .flex.show-xxs {
        display: flex !important
    }

    .ub-pro-program .show-xxs {
        display: block !important
    }

    .ub-pro-program .hide-xxs {
        display: none !important
    }
}

@media screen and (min-width: 26.25em) {
    .ub-pro-program .flex.show-xs {
        display: flex !important
    }

    .ub-pro-program .show-xs {
        display: block !important
    }

    .ub-pro-program .hide-xs {
        display: none !important
    }
}

@media screen and (min-width: 40em) {
    .ub-pro-program .flex.show-sm {
        display: flex !important
    }

    .ub-pro-program .show-sm {
        display: block !important
    }

    .ub-pro-program .hide-sm {
        display: none !important
    }
}

@media screen and (min-width: 46.875em) {
    .ub-pro-program .flex.show-md {
        display: flex !important
    }

    .ub-pro-program .show-md {
        display: block !important
    }

    .ub-pro-program .hide-md {
        display: none !important
    }
}

@media screen and (min-width: 64em) {
    .ub-pro-program .flex.show-lg {
        display: flex !important
    }

    .ub-pro-program .show-lg {
        display: block !important
    }

    .ub-pro-program .hide-lg {
        display: none !important
    }
}

@media screen and (min-width: 75em) {
    .ub-pro-program .flex.show-xl {
        display: flex !important
    }

    .ub-pro-program .show-xl {
        display: block !important
    }

    .ub-pro-program .hide-xl {
        display: none !important
    }
}

@media screen and (min-width: 90em) {
    .ub-pro-program .flex.show-xxl {
        display: flex !important
    }

    .ub-pro-program .show-xxl {
        display: block !important
    }

    .ub-pro-program .hide-xxl {
        display: none !important
    }
}

@media screen and (min-width: 120em) {
    .ub-pro-program .flex.show-xxxl {
        display: flex !important
    }

    .ub-pro-program .show-xxxl {
        display: block !important
    }

    .ub-pro-program .hide-xxxl {
        display: none !important
    }
}

.ub-pro-program .c-title-text {
    display: grid;
    grid-row-gap: 6px;
    span.c-text.is-3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        @media screen and (max-width: 991px) {
            font-size: 16px;
            line-height: 19px;
        }
    }
    
    .c-text.is-4 {
        font-size: 16px;
        line-height: 19px;
        @media screen and (max-width: 991px) {
            font-size: 14px;
            line-height: 17px;
        }
    }
}

.ub-pro-program .u-container {
    max-width: 1410px;
    margin-inline: auto
}

.ub-pro-program .u-p-block {
    padding-top: 70px;
    padding-bottom: 100px
}

.ub-pro-program .u-p-inline {
    padding-inline: 22px
}

@media screen and (min-width: 46.875em) {
    .ub-pro-program .u-p-inline {
        padding-inline: 55px
    }
}

.ub-pro-program .u-bg-off-white {
    background-color: var(--off-white)
}

.ub-pro-program__wrapper {
    display: grid;
    grid-row-gap: 100px
}

.ub-pro-program__content {
    display: grid;
    grid-gap: 80px;
    padding-block: 100px 80px
}

@media screen and (min-width: 64em) {
    .ub-pro-program__content {
        grid-gap: 170px;
        grid-template-columns: 1fr 465px;
        align-content: start
    }
}

.ub-pro-program__description {
    display: grid;
    grid-gap: 50px
}

.ub-pro-program__description .c-button {
    align-self: end;
    width: 100%;
    max-width: 350px;
    margin-inline: auto
}

.ub-pro-program__media {
    display: grid;
    position: relative;
    place-content: center;
    aspect-ratio: 1/1;
    text-align: center
}

@media screen and (min-width: 64em) {
    .ub-pro-program__media {
        aspect-ratio: 530/200
    }
}

.ub-pro-program__media img {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.ub-pro-program__media .c-text {
    color: var(--color-text-field)
}